[2021-04-06 19:15] MaikePaetzel opened #1 "Timing - Start of a game"
Setup:

1. A valid game configuration is provided

Expected result:

1. All robots are spawned
2. For 2 minutes (real-time), the game state stays INITIAL
3. After 2 minutes (real-time), the game state changes to READY
4. Game log contains the information (with real and simulated timestamp): Robots being spawned + position, game state READY

[2021-04-06 19:17] MaikePaetzel opened #2 "Robot Positioning - valid configuration"
Setup:

1. In the config.json file, a legal position for a robot is provided

Expected outcome:

1. The robot is spawned at the beginning of the game at the position indicated in the config.json file
2. Once the state is changed to READY, the robot can progress positioning itself on the field.
3. Game log contains the information (with real and simulated timestamp): Robots being spawned + position

[2021-04-06 19:18] MaikePaetzel opened #3 "Robot Positioning - Illegal position (1)"
Setup:

1. In the config.json, the player is positioned outside of the field lines with parts of the feet touching the field line

Expected outcome:

1. The robot is spawned at the beginning of the game.
2. Once the state is changed to READY, the robot receives an immediate 30-second removal penalty.
3. Game log contains the information (with real and simulated timestamp): Robots being spawned + p

[2021-04-06 19:19] MaikePaetzel opened #4 "Robot Positioning - Illegal position (2)"
Setup:

1. In the config.json, the player is positioned entirely outside the field with one leg in the left half of the field and one leg in the right half of the field

Expected outcome:

1. The robot is spawned at the beginning of the game. Once the state is changed to READY, the robot receives an immediate 30-second removal penalty.
2. Game log contains the information (with real and simulated

[2021-04-06 19:21] MaikePaetzel opened #5 "Game Setup - first half time"
Setup:

1. In the game config file, two teams are declared for a normal KidSize match, one team with 4 players, one with 3

Expected outcome:

1. The respective number of robots is spawned at the beginning of the game.
2. The teams randomly receive a side they play on.
3. Kick-off is randomly set to a team (i.e., if the same test case is run multiple times, the side and kick-off of teams differ)
4

[2021-04-06 19:22] MaikePaetzel opened #6 "Game Setup - second half time"
Setup:

1. In the game config file, two teams are declared for a normal KidSize match, one team with 4 players, one with 3
2. 10 minutes of game time in the first half elapses

Expected outcome:

1. The AutoRef calls the first half time to be over
2. The robots respawn on the starting positions at the side of the field
3. The sides of play and the kick-off have flipped in the GameController
4. 15

[2021-04-06 19:24] MaikePaetzel opened #7 "Detection of a Goal Being Scored - Simple goal"
Setup:

1. Player of team red in front of blue’s goal
2. Player kicks ball entirely over the goal line

Expected outcome:

1. Goal scored for team red
2. Game state switches to READY
3. After 45 seconds, the game state switches to SET
4. The ball is spawned at the center mark with team blue having kick-off
5. Game log contains the information (with real and simulated timestamp): goal scored + robo

[2021-04-06 19:25] MaikePaetzel opened #8 "Detection of a Goal Being Scored - No goal"
Setup:

1. Player of team red in front of blue’s goal
2. Player kicks the ball towards the goal, but the ball remains partially on the goal line

Expected outcome:

1. No goal scored
2. Game state remains in PLAY

[2021-04-06 19:27] MaikePaetzel opened #9 "Detection of a Goal Being Scored - Own goal"
Setup:

1. Player of team red in front of red’s goal
2. Player kicks the ball entirely over the goal line

Expected outcome:

1. Goal scored for team blue
2. Game state switches to READY
3. After 45 seconds, the game state switches to SET
4. The ball is spawned at the center mark with team red having kick-off
5. Game log contains the information (with real and simulated timestamp): goal scored + r

[2021-04-06 19:28] MaikePaetzel opened #10 "Detection of a Goal Being Scored - Goal by penalized robot"
Setup:

1. Player of team red in front of blue’s goal
2. Player kicks the ball
3. Player receives removal penalty
4. Ball entirely crosses the goal line

Expected outcome:

1. No goal scored
2. The game restarts with a Goal Kick for blue
3. Game log contains the information (with real and simulated timestamp): penalty for robot (identified by team and number), robot shooting the ball in the goal (

[2021-04-06 19:30] MaikePaetzel opened #11 "Detection of a Goal Being Scored - Own goal of penalized robot"
Setup:

1. Player of team red in front of red’s goal
2. Player kicks the ball
3. Player receives removal penalty
4. Ball entirely crosses the goal line

Expected outcome:

1. Goal is scored for team blue
2. Gamestate switches to READY
3. After 45 seconds, game state switches to SET
4. Ball is placed at the center mark and kick-off if called for team red
5. Game log contains the information (with r

[2021-04-06 19:31] MaikePaetzel opened #12 "Declaring a Winner of a Match - Case: Winner"
Setup:

1. Game is started by the AutoReferee
2. One goal is scored for team red (either by kicking the ball into the goal, by sending the respective command to the GameController, or by using the UI of the GameController to score a goal)
3. The game time passes

Expected outcome:

1. AutoRef declares team red winner of the match after 10 minutes in the second half have expired
2. Game state switc

[2021-04-06 19:32] MaikePaetzel opened #13 "Declaring a Winner of a Match - Case: Draw"
Setup:

1. RoundRobin Game is started by the AutoReferee
2. One goal is scored for team red (either by kicking the ball into the goal, by sending the respective command to the GameController, or by using the UI of the GameController to score a goal)
3. One goal is scored for team blue
4. The game time passes

Expected outcome:

1. AutoRef declares the game to be a draw
2. Game state switches to FI

[2021-04-06 19:47] MaikePaetzel opened #14 "Ball Being out of Play - touchline, basic case"
Setup:

1. Game is in state PLAY
2. Ball is touched by player of team red
3. The ball entirely crosses one of the touchlines

Expected outcome:

1. ball is replaced on the touchline at the position it left the field;
2. Game log contains the information (with real and simulated timestamp): position at which the ball left the field + robot last touching the ball (identified by team and number), pos

[2021-04-06 19:48] MaikePaetzel opened #15 "Ball Being out of Play - touchline with throw-in"
Setup:

1. Game is in state PLAY
2. Ball is touched by player of team red
3. The ball entirely crosses one of the touchlines

Expected outcome:

1. ball is replaced on the centerline at the position it left the field;
2.  AutoRef declares THROW-IN for team blue
3. Game log contains the information (with real and simulated timestamp): position at which the ball left the field + robot last touching

[2021-04-06 19:50] MaikePaetzel opened #16 "Ball Being out of Play - Not entirely crossed line"
Setup:

1. Game is in state PLAY
2. Ball is touched by player of team red
3. The ball almost crosses the touchline, but parts of it remain on the touchline

Expected outcome:

1. The game continues without any interference by the AutoRef

[2021-04-06 19:53] MaikePaetzel opened #17 "Ball Being out of Play - opponents' goal line, basic case"
Setup:

1. Game is in state PLAY
2. Ball is touched by player of team red
3. The ball entirely crosses the goal line on the side of team blue

Expected outcome:

1. ball is replaced on the touchline at the intersection with the centerline on the side the ball left the field
2. Game log contains the information (with real and simulated timestamp): position the ball left the field + robot last touch

[2021-04-06 19:54] MaikePaetzel opened #18 "Ball Being out of Play - opponents' goal line, advanced case"
Setup:

1. Game is in state PLAY
2. Ball is touched by player of team red
3. The ball entirely crosses the goal line on the side of team blue

Expected outcome:

1. ball is replaced on the touchline at the intersection with the centerline on the side the ball left the field
2. AutoRef declares GOAL KICK team blue
3. Game log contains the information (with real and simulated timestamp): position th

[2021-04-06 19:55] MaikePaetzel opened #19 "Ball Being out of Play - own goal line, basic case"
Setup:

1. Game is in state PLAY
2. Ball is touched by player of team red
3. The ball entirely crosses the goal line on the side of team red

Expected outcome:

1. Ball is replaced on the corner of the touch line and goal line on side the ball left the field
2. Game log contains the information (with real and simulated timestamp): position the ball left the field + robot last touching the ball (id

[2021-04-06 19:56] MaikePaetzel opened #20 "Ball Being out of Play - Own goal, advanced case"
Setup:

1. Game is in state PLAY
2. Ball is touched by player of team red
3. The ball entirely crosses the goal line on the side of team red

Expected outcome:

1. Ball is replaced on the corner of the touchline and goal line on side the ball left the field
2. AutoRef declares CORNER KICK team blue
3. Game log contains the information (with real and simulated timestamp): position the ball left the

[2021-04-06 19:58] MaikePaetzel opened #21 "Detection and Penalty of Fallen Robots - single robot"
Setup:

1. Game is in state PLAY
2. Robot falls down (i.e., not only feet are touching the floor)
3. Robot does not get up for 20 seconds

Expected outcome:

1. Robot receives a 30-second removal penalty
2. Robot is respawned at a position outside the touchline which is further away from the ball in its own half at the height of the penalty mark
3. Game log contains the information (with real and

[2021-04-06 20:00] MaikePaetzel opened #22 "Detection and Penalty of Fallen Robots - multiple robots"
Setup:

1. Game is in state PLAY
2. Robot 1 of team red falls down (i.e., not only feet are touching the floor)
3. Robot 2 of team red falls down (i.e., not only feet are touching the floor)
4. Robot 1 does not get up for 20 seconds
5. Robot 2 does not get up for 20 seconds

Expected outcome:

1. Robot 1 receives a 30-second removal penalty
2. Robot 1 is respawned at a position outside the touchli

[2021-04-06 20:03] MaikePaetzel opened #23 "Declaring a Winner of a Match - Knockout match, winner after extended time"
Setup:

1. KnockOut game is started by the AutoReferee
2. The game time passes until end of second half without any goal being scored
3. AutoRef goes into extended time
4. Team Red scores a goal during first extended half
5. No goal is scored during second extended half

Expected outcome:

1. AutoRef declares team red winner of the match
2. Game log contains the information (with real and simulate

[2021-04-07 07:55] omichel opened #24 "Handling of extra time?"
For each goal scored, it takes about one minute (READY & SET states) to resume the actual play, but during this time, the game controller doesn't stop the 10 minutes timer. For kicks (penalty/direct/indirect/side), there is also some significant amount of time during which players have to move away from the ball. Again, this time is not played, but accounted by the game controller. At the end of a

[2021-04-07 08:01] omichel commented on #1
Why are these 2 minutes needed? This is not specified in the rules or any other documentation.
It actually takes about 16 seconds (real time) on my machine between the spawning of all the robots and GameController sending the READY state.

And it takes about 30 seconds between the start of Webots and the READY state sent by the GameController.

[2021-04-07 08:14] omichel commented on #5
The rule book (draft 3) says (line 810): "The referee gives the signal 'PLAY' 5 seconds after the 'SET' signal was given."

Which one do you want to implement, 5 or 15 seconds?

[2021-04-07 08:38] MaikePaetzel commented on #1
This is (newly) specified in Law 7 - Periods of play.

Having such a period was requested by some teams to internally load machine learning models or other calibrate sensors if necessary.

[2021-04-07 08:39] MaikePaetzel commented on #5
Sorry my bad, I confused the timing with the free kick! I've changed it in the original issue.

[2021-04-07 08:43] MaikePaetzel commented on #24
No, whatever the GameController counts as in-play time is counted as in-play on purpose. The only reasons for extending a half-time period is (a) if there was major unexpected interference in a game (which I do not foresee happening in the simulated competition as there are no humans involved in refereeing and/or handling the robots) or (b) to grant robots a chance to finish their final attempt at

[2021-04-07 08:48] omichel commented on #24
Thank you for the explanation.

[2021-04-07 08:48] #24 closed, assigned to nobody

[2021-04-07 16:19] omichel commented on #3
In case a robot is at an invalid position, I assume the referee has to:
1. send a PENALTY:team:player_id:INCAPABLE to the GameController.
2. move the robot at location `reentryStartingPose` specified in the `team.json` file for that robot.
3. "lock" the robot at this location for the next 30 seconds: reset it to this location in case the robot is attempting to move away.

Is that correct?

[2021-04-07 16:22] MaikePaetzel commented on #3
Step 1 and 2 is correct, but it doesn't need to lock the robot at its penalty position. Robots are required to listen to the GameController to understand whether they are penalized. If they try to move while in a penalty, they are re-penalized for 30 seconds. If they don't listen to the GameController, this may mean that they remain penalized for the rest of the game because they get frequent re-p

[2021-04-07 18:18] SoheilKhatibi commented on #3
I think in this test, all the robots' feet will touch the lines with changing the "halfTimeStartingPose" translation from [-3.5, -3.06, 0.24] to something like [-3.5, -3.05, 0.24] or [-3.5, -3, 0.24]. @omichel I think if you detect being on the touchline by projecting the convex hull of the robot, they are even in an illegal position with their default translation because the projection of their k

[2021-04-07 18:27] SoheilKhatibi commented on #4
setting "halfTimeStartingPose" translation of one robot to [0, -3.20, 0.24] will put it in that situation. It can also be tested.

[2021-04-07 19:40] MaikePaetzel commented on #3
Can you please provide, test, and upload a configuration file for which this is the case?

[2021-04-07 19:40] MaikePaetzel commented on #4
Can you please provide, test, and upload a configuration file for which this is the case?

[2021-04-07 20:00] SoheilKhatibi commented on #3
[Illegal position_1.zip](https://github.com/RoboCup-Humanoid-TC/webots/files/6274124/Illegal.position_1.zip)
This could be on of the cases

[2021-04-07 20:04] SoheilKhatibi commented on #4
[Illegal position_2.zip](https://github.com/RoboCup-Humanoid-TC/webots/files/6274150/Illegal.position_2.zip)

[2021-04-08 06:12] omichel commented on #3
@SoheilKhatibi: Thank you, it works as expected. From the log:

[2021-04-08 07:15] omichel commented on #4
The test passes. From the log:

[2021-04-08 10:20] omichel commented on #6
When the time of the first half is over, I send the "FINISH" message to GameController and it seems to work. However, when I send the "READY" message (after 15 seconds), I am getting an "ILLEGAL" answer from GameController for this "READY" message. From the GUI, it seems I should press the "2nd Half" button, but there is no such message in the TCP/IP protocol. Is it missing? Or did I miss somethin

[2021-04-08 11:50] MaikePaetzel commented on #6
Sorry I missed that part! I thought the GC automatically switches to the second half, but it seems it doesn't (or at least not anymore with setting the half-time break to 0 seconds). I've pushed a fix to this branch: https://github.com/RoboCup-Humanoid-TC/GameController/tree/advanced-autoref-updates
You can now send STATE:SECOND-HALF to explicitly switch to the second half.

[2021-04-08 11:52] omichel commented on #6
Thank you!

[2021-04-08 15:16] MaikePaetzel opened #25 "Robot positioning - Illegal position in the end of READY (1)"
Setup:

1. In the config.json, the player is positioned in a valid position outside the field of play
2. The robot walks into the field and comes to stand on the opponent's side of the play at the end of the READY phase

Expected outcome:

1. The robot is spawned at the beginning of the game.
2. The game state changes to READY
3. The game state changes to SET
4. The robot is penalized as soon as t

[2021-04-08 15:17] MaikePaetzel opened #26 "Robot positioning - Illegal position during SET"
Setup:

1. In the config.json, the player is positioned in a valid position outside the field of play
2. The robot walks into the field and comes to stand in a valid position during the READY phase
3. During the set phase, the robot falls into the opponent's half of the field

Expected outcome:

1. The robot is spawned at the beginning of the game.
2. The game state changes to READY
3. The game st

[2021-04-08 15:30] MaikePaetzel opened #27 "Robot positioning - Illegal position in the end of READY (2)"
Setup:

1. In the config.json, the player is positioned in a valid position outside the field of play
2. A robot from the team that does not have kick-off walks into the field and comes to stand inside the center circle in it's own half of the field at the end of the READY phase

Expected outcome:

1. The robot is spawned at the beginning of the game.
2. The game state changes to READY
3. The game

[2021-04-09 15:24] omichel commented on #22
Could you be more precise on that? Is it 60 cm towards to goal line, towards the center line or towards the outside of the field?

[2021-04-09 15:27] omichel commented on #21
How far away from the touchline? like 50 cm?

[2021-04-09 15:49] omichel commented on #21
Note: we need to modify the Darwin-OP proto and rename the feet with the [feet] prefix in order to be able to implement this.

[2021-04-09 18:57] medrimonia commented on #22
It's L858-866 of [this document](https://cdn.robocup.org/hl/wp/2021/04/V-HL21_Rules_Draft3.pdf) for the exact rule.

In this case, both solutions are acceptable, so implementation is up to you (the logical way with respect to how rules are written would be to take the furthest one from the ball).

[2021-04-09 19:05] medrimonia commented on #21
According to `reentryStartingPose` from the `game.json` file, with a possible change of sign on the `y` and rotation of pi around 'z' axis depending on the side of the touch line (and a possible change of sign of `x` depending on the robot team's).

Do you want us to do it?

[2021-04-09 19:28] medrimonia opened #31 "Robot positioning - Illegal position in the end of READY (3)"
Setup:

1. In the config.json, the player is positioned in a valid position outside the field of play
2. The robot from does not move before the end of the READY phase, and is therefore outside of the field when state changes to SET.

Expected outcome:

1. The robot is spawned at the beginning of the game.
2. The game state changes to READY
3. The game state changes to SET
4. The robot is penalize

[2021-04-09 20:59] omichel commented on #21
No, I can do it, it should be quick.

[2021-04-10 08:18] medrimonia opened #32 "Updating sensor timesteps duplicate the sensor"
While trying to use the default `client` provided and looking at the network and messages, I noticed that the size of the messages sent by the `player`was growing.

After investigating, I noticed that each request to update the sensor timesteps add another sensor because `robot->getDevice()` creates a new object every time. A quick test is replacing line  `sensors.insert(device);` by the following

[2021-04-10 19:19] medrimonia opened #34 "Illegal field entry - yellow card"
Setup:

1. In the config.json, the robot is positioned in an invalid position inside the field of play.
2. The robot walks into the field at the beginning of the READY phase, while it is still penalized.

Expected outcome:

1. The robot is spawned at the beginning of the game.
2. The game state changes to READY
3. The robot is penalized by the referee and respawned at penalty position
4. The robot

[2021-04-10 19:52] medrimonia commented on #1
According to the test in #28, the real time spent in `INITIAL` is `120*real_time_factor` seconds, while it should not depend on `real_time_factor`. To keep this convenient for testing, I suggest adding a parameter `initial_state_duration` to `game.json` which would have a default to 120 and a very small value for all test scenarios.

[2021-04-10 19:57] medrimonia opened #35 "Symmetry for poses provided by team is only valid for specific values"
The current implementation of the symetry in the `referee.py` file shown below is only valid if the axis of the rotation is the `[0 0 1]` vector.

`halfTimeStartingRotation[3] = math.pi - halfTimeStartingRotation[3]`

[2021-04-10 20:13] medrimonia commented on #34
Covered by `test_initial_positions`.

[2021-04-10 20:14] medrimonia commented on #31
Covered by `test_initial_positions`.

[2021-04-10 20:14] medrimonia commented on #1
Covered by `test_initial_positions`.

[2021-04-10 20:14] medrimonia commented on #2
Covered by `test_initial_positions`.

[2021-04-10 20:15] medrimonia commented on #3
Covered by `test_initial_positions`.

[2021-04-11 15:06] SoheilKhatibi commented on #35
I was faced with a similar problem before. One possible solution could be to convert axis-angle rotation to euler angles. then to apply that symmetry, just do that (`angle = math.pi - angle`) with the rotation around the Z- axis. and again convert those euler angles to axis-angle rotation. see [here](https://www.euclideanspace.com/maths/geometry/rotations/conversions/angleToEuler/index.htm) and [h

[2021-04-12 06:29] omichel commented on #1
This is not the only duration that should be expressed in real time. So, if we want to improve this, we should add a more generic parameter to the `game.json` file that could be named `speed_up_real_time` and would actually speed up the real time waiting times as in the current version if true. If false (default), it will actually wait for the actual real time durations.

[2021-04-12 08:39] omichel commented on #32
I appears to be a bug in Webots as the `robot->getDevice()` method should return the same value for the same argument. I am fixing it now.

[2021-04-12 08:52] omichel commented on #32
It should be fixed now in https://github.com/cyberbotics/webots/pull/2957 (Webots general bug fix on the master branch) as well as in https://github.com/cyberbotics/webots/pull/2888 (robocup specific branch).

[2021-04-12 09:05] #32 closed, assigned to omichel

[2021-04-12 13:33] omichel commented on #35
I just fixed this by converting the axis angle to quaternion, perform the rotation along the Z axis and convert back to axis angle. Note: I had to include the transforms3d pip dependency to facilitate the quaternion operations. See: https://github.com/cyberbotics/webots/blob/f0d026ea2943dfccf63835307d420273018448b1/projects/samples/contests/robocup/controllers/referee/referee.py#L302-L308

[2021-04-12 13:33] #35 closed, assigned to nobody

[2021-04-12 21:11] medrimonia commented on #3
In the latest version, robots are penalized while state is still `INITIAL`, thus they have already exited penalty when state is changed to `READY`.

[2021-04-12 21:12] medrimonia commented on #4
In the latest version, robots are penalized while state is still `INITIAL`, thus they have already exited penalty when state is changed to `READY`.

[2021-04-12 21:16] medrimonia commented on #26
On the latest version, I checked it by moving four robots manually to the opponent's field during the set phase, but none of them was penalized. Once an automated scenario is prepared, we will be able to have a reproducible case.

[2021-04-12 21:18] medrimonia commented on #1
I am not sure whether something was changed for this, but now at `real_time_factor=3`, it takes 6 minutes of simulated time (18 minutes real time) before going to ready.

[2021-04-12 21:23] medrimonia commented on #31
When starting the latest version with the default configuration and just letting time pass, robots are not moving at all but they are not being penalized.

[2021-04-13 06:04] omichel commented on #3
Sorry, this was broken by the implementation of new features. It is now fixed in this commit: https://github.com/cyberbotics/webots/pull/2888/commits/9baa4b10431fdf60b05118405bf88732c1c97ce1

[2021-04-13 06:04] omichel commented on #4
Fixed in https://github.com/cyberbotics/webots/pull/2888/commits/9baa4b10431fdf60b05118405bf88732c1c97ce1.

[2021-04-13 06:29] omichel commented on #1
Sorry, it was broken when introducing the real time factor in the `game.json` file. Is now fixed in https://github.com/cyberbotics/webots/pull/2888/commits/2fa0d30facbbf2685483b9485b61047b5797de1e. It now takes 40 seconds of simulated time (2 minutes of real time) before going to ready.

[2021-04-13 07:39] omichel commented on #31
Fixed in https://github.com/cyberbotics/webots/pull/2888/commits/d5d9c3d2fc1b802cdc1d7d5bd30072468a23682c

[2021-04-13 07:47] omichel commented on #35
Well, this problem is actually not fixed in the current version, but I am reluctant to fix it because it would encourage competitors to design robot protos that don't respect our design rules for [orientation](https://cyberbotics.com/doc/reference/proto-design-guidelines#orientation) and [translation and rotation](https://cyberbotics.com/doc/reference/proto-design-guidelines#translation-and-rotati

[2021-04-14 10:18] omichel commented on #18
I would assume this instead (according to the rule book):

1. ball is replaced on the touchline at the intersection with the centerline on the side the ball left the field

[2021-04-14 11:45] SoheilKhatibi commented on #26
While testing this issue with this scenario #37 , the robot `Blue 1` who is manually fallen into the opponent's field in the set state was not penalized.
![Screenshot from 2021-04-14 16-09-20](https://user-images.githubusercontent.com/31012373/114705068-92b70a80-9d3c-11eb-9d66-e7a5dcaa644b.png)

[2021-04-14 15:37] omichel commented on #34
I would assume this is a more general rule: if a penalized robot enters the field again, it gets a yellow card. Is that correct?
I could not find it explicitly in the rule book.

[2021-04-14 19:15] SoheilKhatibi commented on #7
While testing scenario #38, after scoring a goal, the ball is spawned at the center mark after the state changes to `READY`. According to the rule book (draft 3, line 1679): The ball is placed stationary on the centre mark after the `SET` signal was given.
so it should be spawned at the center mark after the state changes to `SET`. I think it is also true for starting the first and second half. Bu

[2021-04-15 09:19] omichel commented on #23
This currently doesn't work due to the GameController. See https://github.com/RoboCup-Humanoid-TC/GameController/issues/126.

[2021-04-15 11:36] SoheilKhatibi commented on #14
Shouldn't it be ball is replaced on the **_touchline_** at the position it left the field? I think according to the Rules, line 645.

[2021-04-15 11:43] SoheilKhatibi commented on #17
Shouldn't it be :  ball is replaced on the _**touchline**_ at the intersection with the centerline on the side the ball left the field.
I think according to the Rules, line 662.

While testing scenario #39 , the ball was respawned on the centerline, with its `Y` at the point it left the field, while it should be at the intersection of the touchline and centerline. (at the side it has left the fiel

[2021-04-15 16:37] medrimonia commented on #14
Yes agreed, I updated the message.

[2021-04-15 17:22] medrimonia commented on #34
Yes, that's the case, it's written L525 of the [Rules-Draft3](https://cdn.robocup.org/hl/wp/2021/04/V-HL21_Rules_Draft3.pdf)

[2021-04-15 17:26] medrimonia commented on #17
Yes agreed and changed.

[2021-04-15 17:27] medrimonia commented on #18
Yes, agreed and fixed.

[2021-04-15 17:36] medrimonia opened #41 "Image sent by player.cpp might be incomplete"
In player.cpp, the lines sending the image might end up sending incomplete images when the image buffer contains a 0 value.

[code]
Should be changed to
[code]

[2021-04-15 17:57] SoheilKhatibi commented on #27
Similar to this issue, according to the rules, line 400, the opponents of the team taking the kick-off should stay outside the center circle until it is in play (until it moves at least 5 cm or 10 seconds after the play signal). This also can be included in this issue or a new basic issue can be dedicated to this point.

[2021-04-16 07:04] omichel commented on #41
This is not as simple as this as the image returned by a Webots camera has RGBA format (32 bit per pixel).
So, we should convert it to RGB before sending it to the controller.

[2021-04-16 07:43] omichel commented on #41
Fixed in https://github.com/cyberbotics/webots/pull/2888/commits/f9ed79f3279c619c918b6ecb23b22e30f2d893d8

[2021-04-16 07:43] #41 closed, assigned to omichel

[2021-04-16 08:22] omichel opened #42 "Protobuf is not optimal for sending high resolution images"
As stated [here](https://developers.google.com/protocol-buffers/docs/techniques#large-data), protobuf is not well suited for sending large amounts of data. Sending images is indeed tricky (based on sending a string). Moreover, there is a significant performance cost for sending images with protobuf:

1. Copy the image from the camera RGBA buffer into a RGB buffer.
2. Copy the RGB buffer into the p

[2021-04-18 18:51] medrimonia opened #52 "Forceful contact - robots of the same team"
This situation include 3 variations: a,b,c, when they differ, it is explicitely
specified.

## Setup:

- GameState is READY and ball is in play
- Two unpenalized robots of the same team, R1 and R2 are close
  - a: In their penalty area
  - b+c: Outside from their penalty area
- The ball is placed:
  - a+b: Less than 2 meters from the robot
  - c: More than 2 meters away from the robots

## Procedu

[2021-04-18 18:52] medrimonia opened #53 "Forceful contact - Contact in goal area"
This situation include 3 variations: a,b,c, when they differ, it is explicitely
specified.

## Setup:

- GameState is READY and ball is in play
- Robot G is goalkeeper and is in its own goal area
- Robot F is from the oppsite team and is
  - a: outside the goal area of robot G but close to it
  - b+c: inside the goal area of robot G
- The ball is placed:
  - a+b: Less than 1 meter from the robot

[2021-04-18 18:53] medrimonia opened #54 "Ball holding - Multi-robot, KidSize"
This situation include 3 variations: a,b,c when they differ, it is explicitely
specified.

## Setup:

- GameState is READY, ball is in play and the game is a KidSize game
- R1 is at less than 30 centimeters from the ball
- R2 is exactly on the other side of the ball
  - a+b. 30 centimeters away from the ball
  - c. 1 meters away from the ball
- a+c. R1 and R2 are from the same team
- b. R1 and R2

[2021-04-19 06:44] medrimonia commented on #27
Yes, I do agree, I will include this to the list of issues that should be covered.

[2021-04-19 09:27] medrimonia opened #55 "Test supervisor: make dependency to referee code more clean"
See https://github.com/RoboCup-Humanoid-TC/webots/pull/51#issuecomment-822285380

[2021-04-19 09:51] medrimonia opened #56 "Logging of information"
Issue based on the conversation of #51

1. This log file is systematically empty for me so I have not been able to compare to it. It is probably because it is the `test_supervisor` that quits the simulation (game_controller is not closed either).

2. I think that it's problematic to have a hard coded file here because if we launch two tests on a row, we're destroying the logs (except if the caller

[2021-04-19 10:22] omichel commented on #56
1. Normally, the referee should be able to quit cleanly, including closing the GameController and the `log.txt` file when you request the quit from the test supervisor. I will investigate why this doesn't seem to work and hopefully fix it.
2. We can add an environment variable here to define the log file, like `WEBOTS_ROBOCUP_LOG=/path/to/my/log.txt`.
3. It is indeed possible to redirect the stdou

[2021-04-19 13:56] medrimonia opened #58 "Forceful contact - Pushing"
This situation include 4 variations: A,B,C,D. When they differ, it is explicitely
specified.

- A. Back-pushing
- B. Side-pushing
- C. Pushing occurs in middle range of the ball -> penalty
- D. Pushing occurs very far from the ball -> nothing happens

## Setup:

- GameState is READY and ball is in play
- Robots R1 and R2 are nearby, they are of opposite team, not penalized and
  outside any penalt

[2021-04-19 15:16] omichel commented on #53
Shall we assume that the goal keeper is player number 1?

[2021-04-19 15:18] omichel commented on #53
What does static mean?
Can we consider a robot static if the velocity of its main body is close to zero (below some threshold, like 0.01 m/s).

[2021-04-19 15:21] omichel commented on #58
Can you specify a value for this "very low speed"? I would assume it corresponds to the linear velocity of the main body of the robot.

[2021-04-19 15:25] omichel commented on #58
What do you mean precisely with "similar"? What is a amount of the tolerance? Can you provide a mathematical formulae?

[2021-04-19 15:27] medrimonia commented on #53
Players have to be able to change the goal keeper during so this is at least something that will need to change. However, I think that the feature for informing the referee that the goalie has changed is not available yet. Moreover I don't think this information is sent through the UDP. So I think that there will be need of some changes in the communication to implement this. @MaikePaetzel can you

[2021-04-19 15:31] omichel commented on #53
So, which value shall we use for that?

[2021-04-19 15:31] medrimonia commented on #58
Updated for both. The issues mention scenario and should therefore not be used inside code. For the exact value to be used for all the forceful contact rules, it should be based on Figure 4 and Table 2 of the rule document.

[2021-04-19 15:33] medrimonia commented on #53
I updated using 0.05 m/s.

[2021-04-19 15:46] medrimonia opened #59 "Team id is expected to be 1 or 2"
If I set the `team_id` in the `game.json` to another value that 1 or 2, I end up with the following error:

[code]
`team_id` is expected to be the unique identifier of a team so it should vary between 0 and 255 according to the current implementation. It will also be important to determine which team has throw-in etc...

[2021-04-19 15:48] omichel commented on #59
I believe I fixed it [here](https://github.com/cyberbotics/webots/pull/2888/commits/a566d68f311454cacc82d321e393c66ac1d4d6b9). Please pull the latest version and re-test it. It should work.

[2021-04-19 17:26] medrimonia commented on #59
It works great.

[2021-04-19 17:26] #59 closed, assigned to omichel

[2021-04-20 10:11] omichel opened #60 "Convex hull computation simplification"
I have been investigating the convex hull path and it is very difficult to achieve within a reasonable performance. Basically we should first retrieve a list of all the solids composing each robot and then iterate repeatedly:

1. retrieve the position of every solid and project the points on the ground for each robot.
2. compute the AABB of these points for each robot (to optimize collision detect

[2021-04-20 10:12] medrimonia opened #61 "Forceful contact - collision far from ball"
The automated scenario is available and described in `forceful_contact/far_from_ball`.

[2021-04-20 12:47] medrimonia opened #62 "Forceful contact - charging"
The automated scenario is available in the `forceful_contact/charging` folder.

[2021-04-20 12:59] medrimonia commented on #54
Automated test is available in `ball_holding/multi_robot_kid`.

[2021-04-20 13:00] medrimonia commented on #52
Automated test is available in `forceful_contact/same_team`.

[2021-04-20 13:11] medrimonia commented on #2
Covered automatically by the scenario `positioning/initial`.

[2021-04-20 13:11] medrimonia commented on #3
Covered automatically by the scenario `positioning/initial`.

[2021-04-20 13:12] medrimonia commented on #31
Covered automatically by the scenario `positioning/initial`.

[2021-04-20 13:12] medrimonia commented on #34
Covered automatically by the scenario `positioning/initial`.

[2021-04-20 13:13] medrimonia commented on #1
Covered automatically by the scenario `game_phases/initial`.

[2021-04-20 13:14] medrimonia commented on #6
Manual test available in `game_phases/second_half`.

[2021-04-20 13:16] medrimonia commented on #14
Manual test available in `ball_out/throw_in`.

[2021-04-20 13:17] medrimonia commented on #17
Manual test available in `ball_out/goal_kick`.

[2021-04-20 13:18] medrimonia commented on #19
Manual test available in `ball_out/corner`.

[2021-04-20 13:18] medrimonia commented on #25
Manual test available in `positioning/ready`.

[2021-04-20 13:19] medrimonia commented on #26
Manual test available in `positioning/ready`.

[2021-04-20 13:19] medrimonia commented on #27
Manual test available in `positioning/ready`.

[2021-04-20 13:20] medrimonia commented on #21
Manual test available in `misc_fouls/robot_falling`.

[2021-04-20 13:21] medrimonia commented on #22
Manual test available in `misc_fouls/robot_falling`.

[2021-04-20 13:41] #1 closed, assigned to nobody

[2021-04-20 13:41] #2 closed, assigned to nobody

[2021-04-20 13:41] #3 closed, assigned to nobody

[2021-04-20 13:43] medrimonia commented on #31
According to the automatic test, robots are getting penalized at the beginning of PLAYING and not at the beginning of SET (which is important to guarantee that they are allowed to move directly from the beginning of PLAYING).

[2021-04-20 13:43] medrimonia commented on #34
According to the automatic test, robots are getting penalized at the beginning of PLAYING and not at the beginning of SET (which is important to guarantee that they are allowed to move directly from the beginning of PLAYING).

[2021-04-20 13:49] medrimonia commented on #60
If steps 3 to 5 are too complex, I am concerned that if three or four robots of the same team are in the vicinity of the ball, we will end up with the same problem (convex hull will be of 12-16 points). Would it also be a problem?

One of the major issue with moving only with two feet and two hands is that it can form a line rather than a polygon. So even if the ball is between the two feet of the

[2021-04-20 14:16] omichel commented on #60
Probably. But the number of points should be nevertheless much lower than with the original version (based on the center of every solid of each robot), but still... A simplification may consist in projecting the center of mass of the robots on the floor and computing the collision between the ball and and each robot convex hull, plus between the ball and:
1. the segment between two robots, if two

[2021-04-20 14:20] omichel commented on #60
I just completed a first implementation of the quad convex hull (two feet + two hands) for detecting ball holding for a single robot and the performance impact although not negligible seems acceptable.

[2021-04-20 15:01] omichel commented on #31
Fixed in https://github.com/cyberbotics/webots/pull/2888/commits/56dd14c6b6db6784abd0728848ccc1e77e73324d.

[2021-04-20 15:02] omichel commented on #34
Fixed in https://github.com/cyberbotics/webots/pull/2888/commits/56dd14c6b6db6784abd0728848ccc1e77e73324d

[2021-04-20 16:04] omichel commented on #54
When a robot holds the ball, a free kick is awarded to the opponent team, but what happens to the faulty robot? Does it get a `BALL_MANIPULATION` penalty and is removed from the game?

[2021-04-20 16:19] medrimonia commented on #54
The faulty robot(s) are not penalized, they have to move autonomously out from the ball to proceed with the free kick.
It is tested in the automated scenario.

[2021-04-20 18:20] #34 closed, assigned to omichel

[2021-04-20 18:20] #31 closed, assigned to omichel

[2021-04-21 09:17] omichel commented on #56
I could reproduce and just fixed this problem. Can you check again and confirm the log file is not empty any more?

[2021-04-21 10:00] medrimonia commented on #56
The log is now properly filled which helped a lot for debug, thanks!

[2021-04-23 18:00] medrimonia opened #63 "Field outside_field might be uninitialized"
When testing a game in fast mode with a single robot, I sometimes have the following error:

[code]

By having a quick look at the code, I think that this might be because in `update_team_contacts`, if there are no contact points this entries are not initialized. So if we use `check_start_position` before robots touched the ground this might lead to an issue.

[2021-04-24 05:41] medrimonia opened #66 "Kick-off : positioning and scoring directly"
The automated scenarios covering different invalid moves while the ball is not in play and the conditions when scoring a goal right after kick-off are described in the 5 different scenarios in `game_phases/kick_off`.

[2021-04-24 05:44] medrimonia commented on #7
This test is now automated and successfully passing  in `scoring/goal`.

[2021-04-24 05:44] #7 closed, assigned to nobody

[2021-04-24 05:44] medrimonia commented on #8
This test is now automated and successfully passing  in `scoring/goal`.

[2021-04-24 05:44] #8 closed, assigned to nobody

[2021-04-24 05:45] medrimonia commented on #9
This test is now automated and successfully passing  in `scoring/own_goal`.

[2021-04-24 05:45] #9 closed, assigned to nobody

[2021-04-24 11:44] medrimonia opened #68 "Ball can sometimes move through robots"
When running the automated scenario `game_phases/dropped_ball`, the ball rolls through the middle of a robot instead of bouncing twice in a row. The bug can easily be reproduced, but I have not investigated on why this occurs this way.

[2021-04-24 11:55] medrimonia opened #69 "Invalid team configuration result in crash of referee"
Currently, if a team does not provide all the requested fields, the referee crashes with the following message and the simulation keeps going

[code]

Even if teams provide invalid configuration files, the referee should not crash. There are 2 acceptable behaviors according to me:

1. The robots with missing keys are not loaded and an explicit error is written. This makes sure that teams are unlik

[2021-04-24 12:39] MaikePaetzel commented on #69
I agree that it is important for the AutoReferee not to crash if invalid data are provided and I would also prefer solution (1). If the file is entirely wrongly formatted and hence not readable, then no robot would be spawned and the game would continue against an empty field, which I think is a good solution - at least it makes it very easy for teams to spot that they made a mistake if they test

[2021-04-24 13:10] medrimonia commented on #4
This test is now parts of the automated test `positioning/initial`.

[2021-04-24 13:10] #4 closed, assigned to nobody

[2021-04-24 14:38] medrimonia commented on #26
Now test is automated, but when I run it, this case is still failing.

[2021-04-24 14:38] #27 closed, assigned to nobody

[2021-04-24 14:38] #25 closed, assigned to nobody

[2021-04-25 08:11] #19 closed, assigned to nobody

[2021-04-25 08:29] #17 closed, assigned to nobody

[2021-04-25 08:46] #16 closed, assigned to nobody

[2021-04-25 08:47] #14 closed, assigned to nobody

[2021-04-25 11:00] medrimonia opened #73 "Inactive goalkeeper"
This situation is extensively tested in `misc_fouls/inactive_goalie`.

[2021-04-25 11:06] medrimonia opened #74 "Player leaving the turf for more than 20 seconds are penalized"
This is tested automatically in `misc_fouls/leaving_field`.

[2021-04-26 06:59] medrimonia opened #79 "Transition to state PLAYING is not automatic after a goal has been scored"
This issue raises when running the test `results/draw`, the 5 seconds of state are properly elapsed without the AutoRef sending anything to the GameController according to the logs.

[code]

[2021-04-26 07:15] medrimonia opened #80 "Referee can crash over unexpected messages after a goal is scored"
When a goal is scored, for a few steps the simulation keeps running and spams the GameController that a goal has been scored. During this period, the following error can occur:
[code]

Robustness to those message should be increase. A temporary workaround would be to add a 1 second sleep after sending a message indicating that a goal has been scored to avoid this spamming.

[2021-04-26 14:53] omichel commented on #80
This is fixed in https://github.com/cyberbotics/webots/pull/2888/commits/6231831e3540b26654a5b2d2168d749eeb381470

[2021-04-26 15:02] omichel commented on #63
This is fixed in https://github.com/cyberbotics/webots/pull/2888/commits/150b062ef5cd84bee5b2e4bdf5482604fa7a5b1f

[2021-04-26 15:06] omichel commented on #79
This one is also fixed in the most recent version of https://github.com/cyberbotics/webots/pull/2888

[2021-04-26 15:06] #79 closed, assigned to nobody

[2021-04-26 15:07] #80 closed, assigned to omichel

[2021-04-26 15:07] #63 closed, assigned to omichel

[2021-04-28 13:00] omichel commented on #66
This is now fully resolved.

[2021-04-28 13:00] #66 closed, assigned to nobody

[2021-04-28 13:01] #56 closed, assigned to nobody

[2021-05-07 19:48] medrimonia opened #93 "Time spent in Initial is impacted by real time factor"
The current implementation of the referee makes the `real_time` waiting (e.g. time spent in initial) as a number of simulation ticks depending on `minimum_real_time_factor`. If the simulation runs significantly slower than this factor this results in a much longer INITIAL phase.

E.g. `minimum_real_time_factor=1`, but the game runs much slower, at 0.2 in average. Then, the INITIAL duration is appr

[2021-05-07 20:29] omichel commented on #93
Fixed in https://github.com/RoboCup-Humanoid-TC/webots/pull/91/commits/875c1e6c4ecbb5f10610c1d8f119f9b9355c76cc.

[2021-05-11 19:57] medrimonia opened #104 "Merging the develop branch from Webots broke the Player"
When a client connects and try to send some messages, the player now outputs a message: `Error: wb_compass_enable(): invalid device tag.` While the same client was previously working perfectly fine.

I checked more in details to find which commit introduced the bug and found the following:

- On e4b12c0 : the client runs without any error
- On a66fac0 : the client fails with the previously mention

[2021-05-11 20:16] omichel commented on #104
Did you recompile Webots and the libController after the merge?

[2021-05-11 21:22] medrimonia commented on #104
Yes I did, I even ran a `git clean -xfd` after switching branch.

[2021-05-12 07:56] omichel commented on #104
I just tested it with the provided sample [client](https://github.com/RoboCup-Humanoid-TC/webots/blob/experimental/projects/samples/contests/robocup/controllers/player/client.cpp) and it works nicely without an error message.

[2021-05-12 08:52] omichel commented on #104
On Linux, I am getting a very strange error when trying to execute the sample client:
[code]
This error disappears if I modify client.cpp (comment out the protobuf code) and don't link it with messages.pb.cpp. @medrimonia : do you have any idea about it?

[2021-05-12 08:57] medrimonia commented on #104
Yep, I faced it on a personal client and it was related to linking with `protobuf` without linking to `lpthread` library (order of library matters). I was not sure if that was something related to my local configuration, I solved it on another client.

Last time I tried to fix it using the `client` in there, I had no satisfying results quickly, I will try to get a look at it if I'm not the only on

[2021-05-12 09:02] medrimonia commented on #104
Just replacing in `Makefile.client` the line:

```LIBS += -lprotobuf```

With

```LIBS += -lprotobuf -lpthread```

Was sufficient for me, but I guess that this can cause issues on windows.

[2021-05-12 09:04] omichel commented on #104
Thank you. It solved the problem indeed.
We can make a Windows specific case to avoid any conflict on Windows.

[2021-05-12 09:09] medrimonia commented on #104
I was able to test the default client with the latest version of experimental and I can confirm that it works. I'll have to get into more details with my other client to produce a stronger basis for you to reproduce the bug.

[2021-05-12 09:19] omichel commented on #104
OK, so I was able to test the current `experimental` branch on both Linux and Windows with the sample `client` and I could not reproduce the error your reported. May I ask you to check the following:
- [ ] Do you have only one version of Webots installed on your computer (e.g., the one compiled from the `experimental` branch?
- [ ] If not, are you sure the `WEBOTS_HOME` environment variable points

[2021-05-12 10:42] medrimonia commented on #104
I tried reproducing the bug I mentioned, but was not able to do so again. I will therefore close this issue and make sure that if I stumble upon it again I provide a detailed procedure to make sure it is easy to reproduce. I will also make sure to test this with sample client.

[2021-05-12 10:42] #104 closed, assigned to omichel

[2021-05-20 06:10] SoheilKhatibi opened #115 "Player controller just crashes after running client"
On release branch, the player controller of the robot just crashes after running the `client` or `test_client`.

Command I used to run it:
[code]

[2021-05-20 06:24] medrimonia commented on #115
Dear Soheil, a minimum of additional information would be appreciated. How do you notice that the player controller crashed?
Is there any error message provided?

[2021-05-20 06:27] #93 closed, assigned to omichel

[2021-05-20 06:28] medrimonia commented on #74
Tests are all passing.

[2021-05-20 06:28] #74 closed, assigned to nobody

[2021-05-20 06:29] medrimonia commented on #73
Tests are all passing.

[2021-05-20 06:29] #73 closed, assigned to nobody

[2021-05-20 06:29] medrimonia commented on #62
Tests are all passing.

[2021-05-20 06:29] #62 closed, assigned to nobody

[2021-05-20 06:29] medrimonia commented on #61
Tests are all passing.

[2021-05-20 06:29] #61 closed, assigned to nobody

[2021-05-20 06:32] SoheilKhatibi commented on #115
There are just 2 warnings about the request from the client side. Does it work okay for you?
Here is the screenshot of what I get:
![Screenshot from 2021-05-20 10-57-58](https://user-images.githubusercontent.com/31012373/118929995-740aeb80-b95a-11eb-83d1-a350aefd3dc7.png)

[2021-05-20 06:32] medrimonia commented on #58
Note for the future: this scenario doesn't seem to be automatically tested.

[2021-05-20 06:44] medrimonia commented on #115
Are you certain that you followed the following procedure?

1. `git clean -xfd` _after_ checkout of the release branch
2. `make` in webots folder
3. `make` in `projects/samples/contests/robocup/controllers/player`

This error is reached if the `getNodeType` is not valid which is something that might be impacted if the build is not 'clean' (see #104 )

[2021-05-20 07:10] medrimonia commented on #55
This has been solved by #81

[2021-05-20 07:10] #55 closed, assigned to nobody

[2021-05-20 07:11] medrimonia commented on #54
All tests are now passing.

[2021-05-20 07:11] #54 closed, assigned to nobody

[2021-05-20 07:11] medrimonia commented on #52
All tests are now passing.

[2021-05-20 07:11] #52 closed, assigned to nobody

[2021-05-20 07:12] medrimonia commented on #26
All tests are now passing.

[2021-05-20 07:12] #26 closed, assigned to nobody

[2021-05-20 07:15] medrimonia commented on #20
Automatically tested and passing with several scenarios in `game_interruptions/corner`.

[2021-05-20 07:15] #20 closed, assigned to nobody

[2021-05-20 07:15] medrimonia commented on #18
Automatically tested and passing with several scenarios in `game_interruptions/goal_kick`.

[2021-05-20 07:15] #18 closed, assigned to nobody

[2021-05-20 07:16] medrimonia commented on #15
Automatically tested and passing with several scenarios in `game_interruptions/corner`.

[2021-05-20 07:16] #15 closed, assigned to nobody

[2021-05-20 07:16] SoheilKhatibi commented on #115
After re-building the project the problem is resolved. Thanks. I had built it after checking out to release branch, but maybe after the changes it was needed again.

[2021-05-20 07:16] #115 closed, assigned to nobody

[2021-05-20 07:17] medrimonia commented on #13
Automatically tested and passing in `results/draw`, game log content is not tested.

[2021-05-20 07:17] #13 closed, assigned to nobody

[2021-05-20 07:17] medrimonia commented on #12
Automatically tested and passing in `results/win`, game log content is not tested.

[2021-05-20 07:17] #12 closed, assigned to nobody

[2021-05-20 07:19] medrimonia commented on #6
Automatically tested and passing.

[2021-05-20 07:19] #6 closed, assigned to nobody

[2021-05-20 07:19] #60 closed, assigned to nobody

[2021-05-20 22:15] schra opened #121 "Ubuntu 18.04 support for robot_client was dropped"
It's currently not possible to compile `robot_client` under Ubuntu 18.04 because the shipped protobuf doesn't ship `ByteSizeLong`:

[code]

I solved this by cloning and installing the newest protobuf manually and then everything compiles fine. But I assume you didn't intentionally drop Ubuntu 18.04 support, @medrimonia?

[2021-05-21 07:19] medrimonia commented on #121
This compilation issue was not raised using 20.04, but yes, that was not intentional. Could you confirm that the fix of #119 solves the problem with default packages of Ubuntu 18.04?

[2021-05-22 13:38] timonegk opened #122 "Referee expects annotations that do not match the robot model specification"
**Describe the Bug**
According to the [model specification](https://cdn.robocup.org/hl/wp/2021/05/v-hsc_model_specification_v1.03c.pdf), the annotations for `[foot]`, `[arm]` and `[hand]` should be added to the `name` field of the solid. The referee checks for the annotations in the `model` field. Therefore, a robot model that follows the specifications results in the message `red player 1 is miss

[2021-05-23 21:58] schra commented on #121
Yes, I think the commit probably works (but I haven't tried it out yet)

[2021-05-23 21:58] #121 closed, assigned to nobody

[2021-05-28 13:37] #122 closed, assigned to nobody

[2021-05-28 14:32] medrimonia opened #127 "Current implementation does not support feet composed of multiple solids"
From the Hamburg Bit-Bots:

Some robots have feet composed of multiple solids and with the current implementation they have to face one of the two following issues:

1. If all solids are flagged as `[foot]`, then the referee exits complaining about the total number of `[hand]+[foot]`, it is not possible to simply set this value to a minimum of 4 because this would slow down the computation of the

[2021-05-28 14:38] omichel commented on #127
Changing the structure of the feet is a workaround to this problem: A single solid may contain a complex shape including a compound bounding object. This way the fours cleats may be included in the "[foot]" solid. See https://cyberbotics.com/doc/guide/tutorial-5-compound-solid-and-physics-attributes for an example to implement a compound solid.

[2021-05-28 14:45] SammyRamone commented on #127
The issue is, that we have 4 force sensors in each of the feet, not only solids. Does this also works in this case?
For reference, this is the robot model: https://github.com/bit-bots/wolfgang_robot/blob/master/wolfgang_webots_sim/protos/Wolfgang.proto

[2021-05-28 14:48] omichel commented on #127
I see. Indeed, my proposal won't work in that case. I assume the force sensors are on each cleat, right?

[2021-05-28 14:49] SammyRamone commented on #127
Yes, exactly. Each foot has 4 cleats at the corners and each one has a force sensor.

[2021-05-28 14:51] omichel commented on #127
In that case, the patch on the referee proposed by @medrimonia is probably the way to go.

[2021-05-31 18:37] medrimonia opened #132 "Wait for secondary state can fail"
This is an extract from the test in `game_interruptions/throw_in/procedure`, when running 652786f. Note that this error does not happen systematically but highlights a problem of sync that can occur under certain circumstances.

[code]

This shows that on two consecutive ticks, despite the fact that the referee is expected to wait for the secondary  state `NORMAL`, the referee takes action which r

[2021-05-31 21:04] medrimonia opened #133 "Penalty shoot-outs are starting immediately"
With the current implementation, when a game starts with penalty shootouts, the state is immediately set to `SET` which means that the teams have a very limited time to start their software and establish the connection with the simulator.

The expected behavior is that the time spent before going to `SET` in penalty shootouts is the same as the time spent before going to `READY` in regular games (

[2021-06-01 13:17] timonegk opened #137 "referee: rotate_along_z does not rotate along z"
**Describe the Bug**
In the auto-referee, the function `rotate_along_z` currently converts the rotation to a quaternion, multiplies it with the unit quaternion, and converts it back to axis angle. This does not actually rotate along the z axis.
For our robot, that's a problem because it falls down when it is spawned on the other side of the field.

**Screenshots**

https://user-images.githubuserco

[2021-06-01 15:36] omichel commented on #137
That's correct. For some reason, the rotation quaternion was commented out and the unit quaternion was used instead. I will investigate and fix it as soon as possible. Did you try to uncomment the Z rotation quaternion to see if that resolves your problem?

[2021-06-01 16:12] timonegk commented on #137
Okay, [0,0,0,1] is not actually the unit quaternion, because the library uses the wxyz order. That actually is a rotation of 180° degrees around the z axis, but the result is wrong because the rotation is not around the global z axis. The commented out line rotates around the x axis, which is also wrong.

[2021-06-01 16:15] timonegk commented on #137
I thin rotate_along_z should be called before applying the rotation from the startingPose.

[2021-06-01 16:25] timonegk commented on #137
So that would be keeping rz as [0,0,0,1], but switching the arguments of qmul, that change fixes the issue.

[2021-06-02 06:38] omichel commented on #137
Fixed in #139.

[2021-06-02 06:38] #137 closed, assigned to nobody

[2021-06-03 11:33] timonegk opened #142 "`player` should not reset the time on new connections"
Currently, the `player` resets the time field in the sensor measurements to `0` when the client connects. Instead, this time field should always be set to the current time in the simulator.

[2021-06-03 12:33] timonegk opened #143 "`player` should not disable the actuators when a robot is penalized"
**Describe the Bug**
When the robot is penalized, it is set to the side of the field and its actuators are disabled. But when the robot is not in a stable position when it is penalized, it cannot reset itself to a stable position and will fall again when the auto referee stops holding it up. The fall results in another penalty and so on.

**Expected behavior**
The robot should be able to move its

[2021-06-03 12:46] timonegk opened #144 "Displayed time and GameController time get out of sync when the udp bouncer is used"
**Describe the Bug**
When `use_bouncing_server` is set to true in `game.json`, the time of the GameController and the time overlay in webots get out of sync when the realtime factor is not close to one. The GameController seems to use the correct time as it corresponds to the simulated time in webots, but the overlay is significantly slower.

**Steps to Reproduce**
1. Run `./webots ./projects/samp

[2021-06-03 13:02] medrimonia commented on #142
I agree with this issue, in order not to break existing behavior, this should be solved after mock-competition.

[2021-06-03 13:04] medrimonia commented on #143
This issue is forbidding some teams to get back into the game once they are penalized. It should then be solved as soon as possible.

To the best of my understanding, waiting 5 seconds after a penalty before starting to penalize the robot should be sufficient to solve the problem.

[2021-06-03 13:09] medrimonia commented on #144
@MaikePaetzel This might be due to GC messages accumulating in the `udp_bouncing_server`. I am unsure whether there is currently a mechanism to check if we are starting to have delay in the messages.
I had an out-of-sync feeling when benchmarking the robots of teams.

[2021-06-03 13:16] #133 closed, assigned to nobody

[2021-06-03 13:16] medrimonia commented on #127
Patch was included in the current release branch.

[2021-06-03 13:16] #127 closed, assigned to medrimonia

[2021-06-03 17:57] #144 closed, assigned to nobody

[2021-06-04 06:40] Flova opened #146 "Webots doesn't compile on ubuntu 18.04 due to java related error"
**Describe the Bug**
I get the following error when I build webot:
[code]

**Steps to Reproduce**
1. Git pull (commit 40c8de452d11e7cb4690b83be1977a73c5467934)
2. git clean -xfd
3. make clean
4. sudo ./scripts/install/linux_compilation_dependencies.sh
5. make -j 12
6. This error occurs after some time

**Expected behavior**
The build should be successfull

**System**
 - Operating System: Ubuntu 18

[2021-06-04 07:02] timonegk commented on #146
`unset JAVA_HOME` before `make` fixed the problem for me.

[2021-06-04 07:04] #146 closed, assigned to nobody

[2021-06-04 07:28] medrimonia opened #147 "Game crashes if a team has no penalty kicker available"
When launching game in penalty mode against an 'empty' team, we get the following error:
[code]

This could also occur in case a team has too much red cards, in that case the other team should play the next trial directly.

[2021-06-04 07:35] omichel commented on #143
Do you mean waiting 5 seconds after a penalty before starting to disable the actuators of the robot?

[2021-06-04 07:39] medrimonia commented on #143
Yes, that's exactly what I mean. This would allow robots to set their position properly before disabling the actuators.

[2021-06-04 08:07] omichel commented on #143
This should be fixed now in #148.

[2021-06-04 08:11] medrimonia commented on #143
@timonegk Could you confirm that this solves your problem?

[2021-06-04 08:44] omichel commented on #147
It should be fixed in #149.

[2021-06-04 09:33] johagge opened #150 "referee crashes in penalty shootout when robot is spawned upside down"
**Describe the Bug**
We used incorrect poses and spawned the robot upside down. When the robot is spawned and falls headfirst into the ground the referee crashes.
This does not occur when we use our proper poses and is thus probably a low priority issue.

**Steps to Reproduce**
1. set the starting pose for penalty shootout  in the team_1.json to:
      `"shootoutStartingPose": {
        "translati

[2021-06-04 10:00] omichel commented on #150
Shall I assume you are referring to this [Wolfgang robot model](https://github.com/bit-bots/wolfgang_robot/blob/master/wolfgang_webots_sim/protos/Wolfgang.proto)?

[2021-06-04 10:01] johagge commented on #150
Yes

[2021-06-04 10:34] SammyRamone opened #151 "referee issues direct_freekick during penalty shootout"
**Describe the Bug**
During penalty kick it can happen that a robot gets ball holding penalty, when the ball is kicked near to it. Then a direct free kick is issued and the penalty shootout sequence gets broken due to this.

**Steps to Reproduce**
1. Start robocup webots world in penalty shootout mode
2. But Ball next to robot
3. Wait till time for the kick is over
3. State is now "DIRECT_FREEKICK

[2021-06-04 10:37] medrimonia commented on #151
Thanks for pointing that out, I think that the whole aspect of 'fouls' during penalty shootouts need to be addressed, in the rules and in the AutoRef.

[2021-06-04 11:17] MaikePaetzel opened #152 "In Penalty Shoot-Outs some trials never end"
We currently face the issue that during the penalty shoot-outs some of the trials are not ending (usually the second or third one). So the game just stays in the state playing indefinitely and the next trial can't starte. Note that we don't face the issue for the test scenarios, they are all passing. However, we did not manage to successfully play an entire penalty shoot-out game at the moment bec

[2021-06-04 11:41] medrimonia commented on #152
After looking at the code, it sounds to me that it's related to the `game.sent_finish` that might not be reset to `False` because state goes to `SET` before one tick of the `referee` is performed. This makes the condition that gets out of the penalty trial always false:

`if not game.sent_finish and game.state.seconds_remaining <= 0:`

I'll try a hotfix for this, but I think it's still good to par

[2021-06-04 12:09] #147 closed, assigned to omichel

[2021-06-04 12:09] #152 closed, assigned to omichel

[2021-06-04 12:18] timonegk opened #153 "`player` controller dies when a client connects in game state "Playing""
**Describe the Bug**
The `player` controller currently dies when our software connects after the game state changed to playing. This is not a problem during the actual games but it is annoying when testing. The `player` also does not seem to terminate correctly because the port is still allocated after the `player` has died.

**Steps to Reproduce**
1. Start the RoboCup environment
2. Wait until th

[2021-06-04 12:41] timonegk opened #154 "In penalty shootout, joint positions cannot be set"
**Describe the Bug**
When the game is started in "PENALTY" mode, no joint positions can be set. Adding a debug print at line 409 in player.cpp reveals that the motor positions are actually set correctly by the player, but still, the robot's position in the simulator does not change.

**Steps to Reproduce**
1. Start a game in penalty shootout mode
2. Connect to the player and send motor goals
3. No

[2021-06-04 14:05] omichel commented on #143
According to https://github.com/RoboCup-Humanoid-TC/webots/pull/148#issuecomment-854718740, I believe this issue can be closed. Feel free to re-open it if needed.

[2021-06-04 14:05] #143 closed, assigned to omichel

[2021-06-04 14:13] johagge commented on #150
I've updated webots to fec4fdeb970113d6b94a23516d6dbb88a837b937.
The changed files in my git are: [150.zip](https://github.com/RoboCup-Humanoid-TC/webots/files/6598838/150.zip) and the Wolfgang robot model linked above (updated to the current version of the master).
Now it happens in the penalty shootout, when its the Darwins turn to do the kick and our robots are set on the side.

I have tested i

[2021-06-04 14:25] omichel commented on #150
Can you try with this modified [referee](https://github.com/RoboCup-Humanoid-TC/webots/files/6599150/referee.zip) controller?
It should fix the crash and ignore the case where the solids seem to fail to return their positions.
Let me know if that helps.

[2021-06-04 14:54] johagge commented on #150
I did not see a message of the referee crashing.

<details>
  <summary>However the log is now being filled with the following: </summary>
<pre>
Error: wb_supervisor_node_get_position() called with a NULL or invalid 'node' argument.
New state received from GameController: STATE_FINISHED.
Received unexpected state from GameController: STATE_FINISHED while expecting SET
Error: wb_supervisor_node_get_

[2021-06-04 15:06] SammyRamone opened #155 "No Joint positions can be set after receiving a penalty"
**Describe the Bug**
After the robot got a penalty and did the timeout, it can not move its motors again. It is maybe related to https://github.com/RoboCup-Humanoid-TC/webots/issues/154

**Steps to Reproduce**
1. Start simulation in normal play mode
2. Move robot on wrong field side when ready ends so that the robot gets a penalty
3. Wait till the penalty time is over
4. The game state of the robo

[2021-06-04 15:21] timonegk commented on #154
This seems to be specific to our robot model, or at least it does not happen with the Darwin

[2021-06-04 17:47] timonegk commented on #154
In e013edf1c0486103ae8b0419ca3dba334a8d950d, this was still working

[2021-06-04 19:43] SammyRamone commented on #154
are you sure? it does not work for me on this version

[2021-06-04 21:17] SammyRamone commented on #155
This is due to the same reason as https://github.com/RoboCup-Humanoid-TC/webots/issues/154. Therefore I close this issue

[2021-06-04 21:17] #155 closed, assigned to nobody

[2021-06-04 21:31] johagge commented on #154
Embedding the proto fixed this issue for us.
The change to our proto is here:
https://github.com/bit-bots/wolfgang_robot/pull/171

[2021-06-04 21:33] johagge commented on #150
The change we describe [here](https://github.com/RoboCup-Humanoid-TC/webots/issues/154#issuecomment-855008692) also fixed this issue for us.

[2021-06-04 21:33] #150 closed, assigned to nobody

[2021-06-05 10:56] Flova opened #156 "Ball position is reset when a direct free kick happens"
**Describe the Bug**
The rules say, that

**Steps to Reproduce**
1. Do an offence like ball holding, the ball gets teleported to the middle

**Expected behavior**
The ball should stay at the position.

[2021-06-05 11:08] Flova opened #157 "Ball holding calculation is wrong."
**Describe the Bug**
A ball-holding offense occurs nearly every time the robot approaches the ball. This is due to an error in the calculation of the ball-holding.

The rules state:

Currently, a ball-holding is called if the ball enters the convex hull for 1 second regardless of the overlap (see Video).

This is mainly an issue for larger robots as it's very hard to get the ball inside the convex

[2021-06-05 11:38] johagge opened #158 "Referee prints "Ball was touched by wrong team." constantly, even after the situation"
**Describe the Bug**
When a direct free kick is awarded and the wrong team touches the ball, the referee prints "Ball was touched by wrong team" constantly, even after the robot was penalized.
I have a [video](https://streamable.com/vc4tnp), where this behavior is shown. The relevant part happens at 0:27.
This is probably not important right now, if it only is the print that is wrong.

**Steps to

[2021-06-05 11:46] jgueldenstein commented on #157
The convex hull is currently calculated by the center points of the solids that are tagged [hand] and [foot]. This is inherently flawed since we can just define our center to be at a totally different location and put an offset on the bounding object and visual model.

I know this is to make it computationally more efficient by using these points and using the offset of the ball size but it can be

[2021-06-05 11:54] jgueldenstein commented on #157
In my opinion it would be a better solution to get the boundingObject and transformation to it and calculate the maximum extensions in the x and y axis. This would ensure that the system works more as intended and the ball offset could be removed. This would also speed up the calculation of checking if the ball is inside the convex hull since only the center point being in the polygon needs to be

[2021-06-05 12:22] SammyRamone opened #159 "Referre crashes when player gets red card"
**Describe the Bug**
If a player gets a red card, the referee crashes.

**Steps to Reproduce**
1. Make robot get red card
2. See log

**Screenshots**
`Traceback (most recent call last):
  File "referee.py", line 2371, in <module>
    send_penalties()
  File "referee.py", line 1517, in send_penalties
    send_team_penalties(red_team)
  File "referee.py", line 1502, in send_team_penalties
    robot.

[2021-06-05 12:32] SammyRamone commented on #159
I did not have the newest version of the referee. Seems to work now.

[2021-06-05 12:32] #159 closed, assigned to nobody

[2021-06-05 13:18] medrimonia commented on #156
The comment here is too generic and does not exactly match the rule. The place an offense occurred is not necessarily the location of the ball.
There are multiple tests scenarios available to check different kind of fouls, an easily reproducible way would be to either add a scenario or patch one of those scenarios to add a test on the ball position (e.g. forceful contact).

[2021-06-05 13:25] medrimonia commented on #154
One of the element raised by Hamburg Bit-Bots is that this might be related to `WbNode::reset` in the following lines in `WbNode.cpp`:

[code]

I am not sure of the semantics behind `isTemplate` and `isDeterministic`, but this would explain why their change of the robot produced a behavior change. I was also informed that this behavior appeared since 9617edee6 in which `resetPhysics` was replaced

[2021-06-05 13:46] medrimonia commented on #157
The PR mentioned here adjusts the existing implementation to strongly reduce the margin. It is to be noted that this implementation was agreed on by the TC after discussing this topic with Cyberbotics. If you want to change the way it is implemented I think it would need a more formal description of the approach proposed, with at least pseudo-code explaining the different steps and in the best cas

[2021-06-05 14:21] omichel commented on #154
I might have an idea about this problem. It could that for regenerated proto, the referee needs to refresh the list of solid nodes (hands and feet, etc.) after resetting the robot with `loadState('__init__')` because this call will actually cause a regeneration of the protos (and new solid node will replace previous ones) and thus invalidate the handles to the solid nodes of the robot. I will try

[2021-06-05 14:22] omichel commented on #154
This may explain #150 and especially this message displayed by the referee:
[code]

[2021-06-05 14:46] Flova opened #161 "Penalty goals are awarded for the wrong team"
**Describe the Bug**
If the team kicks a goal during the penalty shootout it's accounted for in the wrong team.

**Steps to Reproduce**
* Kick a goal using the robot behavior in a penalty shootout

**Expected behavior**
* The goal should be counted correctly

**Screenshots**
https://streamable.com/fk88t8

[2021-06-05 14:52] Flova commented on #161
The score in the game controller is correct tho

[2021-06-05 14:52] Flova commented on #161
![image](https://user-images.githubusercontent.com/15075613/120895667-5e661900-c61e-11eb-882b-fcbdb53172c0.png)

[2021-06-05 15:01] medrimonia commented on #161
One of the potential explanations is that the `update_team` seems to be only called at end of half and not between penalty shootouts. From my point of view, `update_team` should be called each time `flip_side` is called and not only on specific situations.

I don't now if there is something else to be done about this or not.

[2021-06-05 15:04] Flova opened #162 "Goalie is reset directly after placement"
**Describe the Bug**
The goalie is placed in its goal and has no time to cancel e.g. the last step of the walking. This results in him leaving the goal line which is also very small because the foot is moving.

**Steps to Reproduce**
1. Score a goal in the penalty shootout
2. The robot is still moving to finish its last step
3. It gets teleported to the goal position and set to init
4. This inform

[2021-06-05 15:45] jgueldenstein opened #163 "Motors still execute old goals after robot being sent to penalty"
**Describe the Bug**
When a robot is being sent to penalty, the player controller stops accepting new positions for the motors. However, the old position goals that were sent are still being executed.

**Steps to Reproduce**
1. Start the simulator
2. Let the robot walk in
3. Move the robot to the other side
4. Change the gamestate to SET
5. see how the robot is penalized
6. observe how actuators s

[2021-06-05 15:48] jgueldenstein commented on #163
Furthermore, the actuators are disabled in the timestep after the penalty as far as we understood from the code.

The physics need to be reset also since the robot should not have any velocities and accelerations when sent to the init pose.

We applied this patch to achieve it.

[code]

[2021-06-05 16:04] jgueldenstein opened #164 "Goalie position check looks at contact points and not Foot position"
**Describe the Bug**
When the referee checks the position of the goalie, for example during a direct free kick, it checks the contact points. When the goalie robot moves on the line this can cause some of the contact points (for example the cleats) to be either inside or outside the field which causes a penalty for the robot.

**Expected behavior**
The robot should only be penalized if one or both

[2021-06-06 07:13] #161 closed, assigned to omichel

[2021-06-06 10:13] jgueldenstein commented on #154
Would regenerating the proto not also invalidate all the handles to the devices in the player controller?

[2021-06-06 10:32] omichel commented on #154
Not for the motors, because the handles are queried each time the player controller receives a new command.
I am not sure regarding the sensors... Maybe we should clear the sensor map...
Did you experience any problem with that?

[2021-06-06 12:15] jgueldenstein commented on #154
We made some further tests and can not confirm that #165 fixes this problem. We tested it with two robot models, one that we believe is being regenerated: (1) https://github.com/bit-bots/wolfgang_robot/blob/master/wolfgang_webots_sim/protos/Wolfgang.proto
and one that we believe is not being regenerated: (2) https://github.com/bit-bots/wolfgang_robot/blob/master/wolfgang_webots_sim/protos/Wolfgang

[2021-06-07 11:46] medrimonia commented on #42
Performance of sending the images was analyzed as non-critical with respect to the data transfer from the GPU.

[2021-06-07 11:46] #42 closed, assigned to nobody

[2021-06-07 11:47] medrimonia commented on #68
This has not been observed since, it is unclear where it came from but it seems outdated.

[2021-06-07 11:47] #68 closed, assigned to omichel

[2021-06-07 12:41] medrimonia opened #169 "Exceptions in the referee should lead to a clean exit of the simulator"
Currently, when an exception occurs in the referee, the game crashes, some log can be lost and the processes started by the referee are not closed. For debugging and providing teams details about a crashed game, the initialization of the game and the whole game loop should be part of a try/except block catching unexpected events.

This would also make some of the debugging much easier.

[2021-06-07 12:57] omichel commented on #154
@jgueldenstein: may I kindly ask you to try again #165? I synced its branch with the develop upstream as I believe a fix was introduced in between that may fix the problem. Meanwhile, I will continue to investigate.

[2021-06-07 13:21] medrimonia commented on #156
Ball positions should be checked in:
- `ball_holding/multi_robot_kid`
- `forceful_contact/*`

[2021-06-07 13:56] medrimonia opened #170 "Improvement/debug of display of game interruptions"
This remarks are based on the sequence starting here: https://www.twitch.tv/videos/1047768522?t=0h12m37s

- During the first phase of the free kick, state is still shown as `PLAYING` (while it should indicates which game interruption has been called)
- Once the 'READY' phase of the game interruption starts (internal state=0), the text is set to 'READY' which might easily be confused with the 'READ

[2021-06-07 13:57] #157 closed, assigned to nobody

[2021-06-07 14:16] medrimonia commented on #164
This is a duplicate from #162 which properly describes the problem while opening more possibilities of answers to solve this problem.

The current implementation requires that the robot is simultaneously inside the field (i.e. has 1 contact point the field) and outside the field (i.e has 1 contact point outside the field):
`if player['outside_field'] or player['inside_field'] or abs(player['positi

[2021-06-07 14:16] #164 closed, assigned to nobody

[2021-06-07 14:34] medrimonia opened #171 "Display of warnings, yellow cards and red cards counts"
Currently, the different kind of warnings and cards are not shown which makes it harder to understand for the audience to understand what happened if a robot is removed from the field.

[2021-06-07 14:37] medrimonia opened #172 "Penalty kicker is always robot 1"
Current implementation of `is_penalty_kicker(team, id)` does not take into account the fact that other robots of the same team might have received a red card.

The penalty kicker should always be the player with the lowest id of the team.

[2021-06-07 14:42] medrimonia opened #173 "Invalid call to Indirect Free Kick"
**Note: Initial understanding of the problem was wrong**

The Autoref consider that the ball is out of play in: https://www.twitch.tv/videos/1047768522?t=0h12m39s

The relevant lines from the referee log are:

[code]

[2021-06-07 14:58] medrimonia commented on #132
This is also probably what happened here: https://www.twitch.tv/videos/1047768522

Note that it has then potential to put the autoref in an invalid state from which it fails to get out.

The logs state:
[code]

[2021-06-07 15:09] medrimonia opened #175 "Output status message at regular frequence"
While games are running, it is sometimes hard to know if the referee entered in an infinite loop inside one of it's internal function, if it suffered a major slow down in simulation or other important information.

Adding a regular print (e.g. every 10 seconds real-time) of some of the key variables would strongly help to get a better understanding when looking at the results of the game.

Informa

[2021-06-07 15:31] #154 closed, assigned to nobody

[2021-06-07 15:48] omichel commented on #172
What if player number 1 has no red card, but has currently a 30 second penalty removal? Shall we decide that the penalty kicker is number 2 in that case?

[2021-06-07 23:17] #162 closed, assigned to medrimonia

[2021-06-08 13:00] medrimonia commented on #172
The penalty kicker should be chosen after setting state to `SET`. In theory, the GameController should remove the penalty of all robots when entering state `SET` (if it doesn't, that's a bug). So no player should be penalized  when this function is called.

[2021-06-08 13:39] #163 closed, assigned to nobody

[2021-06-08 15:13] omichel commented on #172
I believe that #177 now fixes this issue.

[2021-06-08 16:19] medrimonia commented on #172
Perfect, I will add automated test scenarios and merge it afterwards since it is not urgent I think.

[2021-06-09 19:16] medrimonia opened #183 "Consider line thickness for throw-in and goalkeeper pose during penalty"
Currently only intersection with the outer part of the line is considered while touching the inner part of the line should also be valid.

[2021-06-09 20:05] medrimonia opened #184 "Increase verbosity of output on forceful contact"
It is currently difficult to understand exactly what were the values that led to a penalty when a forceful contact occurs. When a forceful contact is triggered, the variables that were used to reach the decision should be printed.

[2021-06-09 21:02] medrimonia opened #186 "Referee can spam penalties on the same player"
A bug appeared (recently it seems) which makes the referee penalize the same player multiple times in a very limited amount of time, while it should only be penalized once (both for performance and how it looks to the audience)

 @omichel should we also sync with the GC when a penalty is sent to a robot to reduce the risk of bugs in the referee side? See #185

[code]

[referee.log](https://github.

[2021-06-09 21:14] medrimonia commented on #153
I tried connecting in "PLAYING" state with multiple instances of the default clients and did not experience any issue. Is it still crashing with the latest release? If it is, is there any error message that might provide a hint?

[2021-06-09 21:25] #142 closed, assigned to medrimonia

[2021-06-10 09:00] #132 closed, assigned to medrimonia

[2021-06-10 09:16] #183 closed, assigned to medrimonia

[2021-06-10 14:59] ghost opened #190 "AutoRef: format of result reporting"
We are currently working on a service that displays the schedule and the results automatically. For this, we would like to easily extract the final result from the AutoRef logs. They could, for example, be in a format like:
<teamtag> score[score]:score[score] <teamtag>
where the first score is the score during the game and [score] the one including the penalty shoot-outs.

[2021-06-10 21:11] #186 closed, assigned to omichel

[2021-06-11 16:14] omichel commented on #173
I don't fully understand what's going on here. It seems the GameController stopped the time whereas it should not.
According to the log, the ball is in play, there is no message saying the opposite.
I checked the `referee.py` for messages displayed when it assign `game.in_play = None` and no such message is displayed in the log here. So, why do you believe it's not in play?

[2021-06-11 16:20] medrimonia commented on #173
Sorry, it seems I didn't paste until far enough:

[code]

[2021-06-11 16:21] medrimonia commented on #173
And here is the full log in case it might be useful.

[log.txt](https://github.com/RoboCup-Humanoid-TC/webots/files/6639806/log.txt)

[2021-06-11 19:17] #172 closed, assigned to omichel

[2021-06-11 19:18] #158 closed, assigned to omichel

[2021-06-11 22:44] medrimonia commented on #173
I just noticed I misunderstood the `Ball not in play, will be kicked by a player from the red team.`

The `Ball not in play` means that the ball just left play, not that it *was* not in play. The call to Indirect free kick is still wrong here but I spotted why and will push a fix to it soon.

[2021-06-12 00:07] medrimonia opened #195 "Fallen robots are moved twice in `penalize_fallen_robots_near`"
With the modifications introduced by #192 fallen robot might be moved twice in the same step:

1. During `game_interruption_place_ball` to make sure update position is used
2. When the penalty is applied.

There are at least 2 different ways of fixing this:
1. Keep track of the robot that have been moved to avoid placing them again when penalizing them
2. Integrate the fact that a robot cannot be

[2021-06-12 00:07] medrimonia opened #196 "Fix and reenable Indirect free kick"
Indirect free kick has been disabled in #192 because it required multiple fixes to be properly implemented.

Two problems have been spotted and added in the code as todo:

1. Indirect free kick should only be triggered on ball_manipulation by the goalkeeper, this was not tested.
2. The ball is not placed at the proper location.

[2021-06-12 00:10] #173 closed, assigned to omichel

[2021-06-12 05:38] #169 closed, assigned to nobody

[2021-06-12 06:37] medrimonia opened #198 "Show trial number for penalty shootouts in referee logs"
When watching the progress of a game or analyzing the logs, it would be nice to have the number of the trial printed before the beginning of each trial.

[2021-06-12 07:01] medrimonia opened #199 "GC.SocketException at end of automated tests"
Since the introduction of the `tee` trick in the automated tests (see #188 ), the error messages do now include unwanted output:

An example is the following:
[code]

~~Either~~ we should fix the fact that those error messages appear (kill the GC process before killing the socket), ~~or we should ignore errors in there~~.

[2021-06-12 08:51] MaikePaetzel opened #200 "Problem with html replay of a game with a particular team"
For one particular team in the tournament, we are not able to use the HTML replay of the game. According to the AutoRef, the HTML file has been saved successfully to the hard drive. However, when attempting to replay it, you get an XML Parsing Error in the Browser Console. Here is the link to a tar that contains one of these non-playable HTML files: https://cloud.robocup.org/s/wC3tnkDWaxLqNwb

Thi

[2021-06-12 09:54] medrimonia opened #201 "Penalty trials with no kickers are not necessarily automatically canceled"
According to this log:

Video - https://youtu.be/eyBXe2Q-u-0
Public logs - https://cloud.robocup.org/s/TnQ3krc5p46NiQd

Most of the trials with `invisibles` team as kicker still happened. Only the one which ended with the ball stopped in the goal area had the next trial skipped.

[2021-06-12 19:06] #198 closed, assigned to medrimonia

[2021-06-13 05:16] #201 closed, assigned to medrimonia

[2021-06-13 07:14] #156 closed, assigned to medrimonia

[2021-06-13 08:22] #184 closed, assigned to omichel

[2021-06-13 09:01] medrimonia opened #204 "Attribution of freekick can still be wrong"
Based on feedback coming from Hamburg Bit-Bots:

Two cases where forceful contact is detected and freekick is attributed to the wrong team:

Examples of invalid calls:
[code]
and
[code]

Version of the autoref in use was: e4f069df08f5f624cb1982145f3c2ee8df356d2f

[2021-06-13 09:12] #175 closed, assigned to medrimonia

[2021-06-13 09:21] medrimonia commented on #204
In output of the `charging` test (which is the only one testing attribution of free kick currently), we have the proper behavior:

[code]

From code, both cases are called with the same parameters and it looks surprising to see a difference. It might be easier to investigate if we get results which have the increased verbosity on free kicks: #193

[2021-06-13 14:26] medrimonia opened #206 "Display simulation time in replay"
Currently it's hard to make the link between the logs and the replay of the games because there is no common clock. It would be nice to have a small clock showing the simulation time in the display.

A very nice touch would be to have the option of toggling its display (I don't know if that's possible with the html replay).

[2021-06-13 16:26] medrimonia opened #207 "Incorrect detection of penaltykick"
Currently, a penalty kick can be called when a foul is committed against a player in its own area. The check of the team is probably invalid in the attribution of penalty kick vs free kick.

This can be seen on https://cloud.robocup.org/s/MZmiCfBYnkFzcd4 at around 4 minutes of the replay.

[2021-06-13 16:37] medrimonia opened #208 "Ball misplaced during penalty kick"
During penalty kick, the ball might be misplaced, near the center mark (probably the last freekick position).

This can be seen on https://cloud.robocup.org/s/MZmiCfBYnkFzcd4 at around 4m10 of the replay.

[2021-06-13 19:11] #207 closed, assigned to medrimonia

[2021-06-13 19:11] #208 closed, assigned to medrimonia

[2021-06-13 19:16] medrimonia commented on #171
Another element that would be nice to have is the remaining penalty time for penalized players.

[2021-06-14 05:25] medrimonia opened #211 "Robot can be considered as fall down and recover during the same time step"
We have frequently the following kind of output message:

[code]
It should not be possible that the conditions for the 'fallen' check and the condition for the 'recovery' check are both true at the same time.

[2021-06-14 07:44] omichel commented on #199
Before the introduction of the `tee` trick, `stderr` was sent into the log file, which I believe was not a good idea because this kind of error were not very visible. I believe we should fix these errors rather than trying to hide them.

[2021-06-14 08:25] BenjaminDeleze commented on #200
The problem comes from the fact that one object name contains the character `&`. If not sanitized, this character create a bug during the XML parsing.

I will patch Webots to correctly handle the export of `&`.

In the meantime, if you want to make this simulation work, it is enough to remove this `&` character from the name of the object.

[2021-06-14 08:26] medrimonia commented on #200
Ok, thank you very much for the swift update.

[2021-06-14 09:37] medrimonia commented on #199
I agree with the general principle, here the errors are linked to a connection reset that is apparently not properly handled by the GC. That should be solved but since it happens only at the end of the game it has low_priority while we have other bugs to solve.

I will edit the title of the issue and first message to make it easier to understand what will need to be done once we have time.

[2021-06-14 10:18] medrimonia opened #213 "Game can get stuck when ball is touched during phase 0 of a game interruption"
In the [referee log](https://github.com/RoboCup-Humanoid-TC/webots/files/6647515/log.txt) of a game, we can see that ball is considered as in play during phase 0 because it was kicked. This later turns into a freeze because AutoRef requests a Direct Freekick again while Autoref is expecting ABORT, RETAKE or Phase 1 messages.

Relevant part of the log can be summarized with:

[code]

[2021-06-14 10:22] medrimonia opened #214 "Illegal calls to the AutoRef lead to game being stucked and not exiting properly"
Currently, when AutoRef request an illegal call to the GameController, the game seems to enter in an infinite loop, see #213

Wrong calls of the AutoRef are the sign of an implementation inconsistency between both sides and should never happen. If it still does happen, it would be better to have a proper crash (it is very unlikely to be able to recover once this happened).

[2021-06-14 10:26] #69 closed, assigned to medrimonia

[2021-06-14 12:42] medrimonia opened #215 "After free_kick execute, player might be incorrectly penalized"
In [Test37](https://cloud.robocup.org/s/jSX4HYtdqPxSQjG), at 2:33/8:16, both players get penalized after EXECUTE for the free kick, while only the blue player should be penalized. Relevant referee logs are:

[code]

It looks like the log might not check properly if the robot is part of the right for sending robot into penalty.

[2021-06-14 12:53] medrimonia opened #216 "Ball positioning at beginning of second half"
In [Test37](https://cloud.robocup.org/s/jSX4HYtdqPxSQjG), at around 4:20/8:16, second half starts and:

- Ball is not removed from the field
- Ball is not placed at center at the beginning of SET phase

[2021-06-14 12:59] medrimonia opened #217 "Robots are not properly moving during 2nd half"
Over the last few games, none of the team seemed able to play with more than one robot (the goalkeeper?) during the second half. According to the private logs of teams, it is expected that the robots were attempting to walk, this might be a problem due to the player disabling the motor command.

[2021-06-14 16:18] medrimonia commented on #217
Understanding of this situation is based on what happens n [Test37](https://cloud.robocup.org/s/jSX4HYtdqPxSQjG), at 4:14/8:16, the second half starts and:

1. All red robots are still moving and at ~4:15:800 state changes to READY, all those robots are penalized
2. Running `egrep -i '(enab|disab)' log.txt` shows that the  actuators of robots other than 1 are never enabled  again

[code]

Required

[2021-06-14 16:46] medrimonia commented on #217
For problem 2 (not being enabled again), what I've seen is the following:

[code]

The only other place were `player['penalized']` is set is in `send_team_penalties` where it's safe to assume that we pass only once (otherwise it would output repeated message). The most reasonable explanation is then that:

1. Robot gets penalized with `REMOVAL_PENALTY_TIMEOUT` at the beginning
2. Due to a GC event

[2021-06-14 21:02] yasuohayashibara commented on #217
I think the problem is the following `setVelocity(0)`.
Our robot uses angle control, but if the following command is executed, it seems to stop moving after that.
After commenting out the following line and executing the webots, the robot is able to side entry.

I am currently repeating the verification, so I apologize if I am wrong.

https://github.com/RoboCup-Humanoid-TC/webots/blob/cc1c4df1396b

[2021-06-15 07:29] #213 closed, assigned to medrimonia

[2021-06-15 07:29] #214 closed, assigned to medrimonia

[2021-06-15 07:29] #215 closed, assigned to medrimonia

[2021-06-15 08:47] #200 closed, assigned to omichel

[2021-06-15 10:30] omichel commented on #206
Another nice possibility to handle this issue would be to start the recording of the animation at time step 0, so that the slider bar of the resulting animation would display the actual virtual time.

[2021-06-15 10:35] medrimonia commented on #206
Yes I think that would be even better I agree because this wouldn't be confusing for the audience since it is a feature useful only for teams and developers.

[2021-06-15 10:36] omichel commented on #206
OK, in that case, I will rework #212 to take this into account and remove the display of the virtual time.

[2021-06-15 12:14] i-khokhlov opened #222 "Bug in udp_bouncer.py"
**Describe the Bug**
I suppose that one line in udp bouncing server was misssed.
For blue team:
https://github.com/RoboCup-Humanoid-TC/webots/blob/7f8b5b34fac59398a42c4b11f08e96cc6af7d191/projects/samples/contests/robocup/controllers/referee/udp_bouncer.py#L99-L102

For read team:
https://github.com/RoboCup-Humanoid-TC/webots/blob/7f8b5b34fac59398a42c4b11f08e96cc6af7d191/projects/samples/contests/

[2021-06-15 13:39] #217 closed, assigned to medrimonia

[2021-06-15 13:43] medrimonia commented on #151
According to the vote of June 14th direct free-kick:
- Ball holding does not apply during penalty shootout
- Foul from striker results in automatic end of the trial
- Foul from goalkeeper results in a removal penalty for the rest of the half (to be handled on the GameController side).

[2021-06-15 14:21] SammyRamone commented on #153
I tested it, it works with the current version of webots. Can be closed in my opinion.

[2021-06-15 14:27] medrimonia commented on #153
Thank you for the feedback!

[2021-06-15 14:27] #153 closed, assigned to medrimonia

[2021-06-15 15:08] #216 closed, assigned to medrimonia

[2021-06-15 15:55] #170 closed, assigned to omichel

[2021-06-15 15:55] #171 closed, assigned to omichel

[2021-06-15 15:55] #206 closed, assigned to omichel

[2021-06-15 16:29] #211 closed, assigned to omichel

[2021-06-16 06:49] #195 closed, assigned to medrimonia

[2021-06-16 07:18] MaikePaetzel commented on #222
Thanks for spotting and fixing it, I merged your PR!

[2021-06-16 07:18] #222 closed, assigned to nobody

[2021-06-16 08:46] medrimonia opened #229 "Stuck at INITIAL in second half"
I think this broke in: d0f94eb383a61c4537cd8e700bc50441160eff70

The most likely is that depending on frequency of the updates, the autoref still sends a `finish` message, but if it does not, the condition to initiate the `game.ready_real_time` never gets true in:
[code]

[2021-06-16 08:59] medrimonia opened #230 "Freekick is called during penaltykick"
[One of the last 4vs4 game](https://cloud.robocup.org/s/C8a3KEEXyYQd3GM) ended because a free kick is called during a penalty kick which should not happen

[code]

[2021-06-16 09:12] medrimonia opened #231 "Game is often not ended properly"
While this problem does not seem to be faced during automated tests, when running the games on AWS, it often ends up that `webots_bin` is still running after the game was terminated with a message that sounds sane (e.g.):

[code]

There's probably something wrong in the order the process are stopped but with current verbosity it's pretty hard to understand what exactly is failing.

[2021-06-16 09:19] SammyRamone opened #232 "Corner kick does not go from mode 0 to 1"
**Describe the Bug**
I think there is an error with the corner kick.
It is triggered correctly, game secondaryState and secondaryTeam is set correctly. SecondaryStateMode is set correctly to 0 and ball is placed at correct position. But then it never goes into the mode 1 (placing). Basically the whole game is stuck for ever in this state then.
I just pulled a few minutes before and was on commit 4

[2021-06-16 09:29] medrimonia commented on #229
Note that in [the game where this was spotted](https://cloud.robocup.org/s/8P8CH8GckPRNdn3), the signal `game.sent_finish` was set to True because the log contains:

[code]

So it's definitely weird that the transition to state READY is not triggered.

[2021-06-16 09:30] SammyRamone commented on #232
I just tried it one more time (after running a bit of simulation and trying out the goal kick). This time the behavior was similar but then it crashed after a moment. See last lines in this log
[log.txt](https://github.com/RoboCup-Humanoid-TC/webots/files/6661866/log.txt)

[2021-06-16 09:52] SammyRamone commented on #232
I tried it one more time (without changing the webots version) and this time it actually worked. I don't really get why this is different.
Here is the log
[log.txt](https://github.com/RoboCup-Humanoid-TC/webots/files/6662023/log.txt)

[2021-06-16 10:21] medrimonia commented on #232
Ok thank you a lot for the update. On the second log we see that phase 1 was reached, but the behavior seems erratic.

We have this kind of scenario in our test and I've never seen this kind of failures, but I think it highlights that we need more debug output.

[2021-06-16 10:44] medrimonia opened #233 "More detailed logs"
With respect to #229 #231 and #232 the debugging is pretty difficult because we are lacking information, therefore we should add more message to the referee log:

- [x] For all the different phases of `clean_up`
- [x] Each time we are setting up the `ready_real_time` or `set_real_time` `ready_countdown` `interruption_countdown` `set_countdown`

[2021-06-16 13:35] #230 closed, assigned to medrimonia

[2021-06-16 15:53] #196 closed, assigned to omichel

[2021-06-17 14:26] egordv opened #237 "Robot unable to move any DOF after exiting "penalized" state using player.cpp controller"
**Describe the Bug**
For Vurtual Humanoid League competition, robot penalization is done by the following part of `projects/samples/contests/robocup/controllers/player/player.cpp controller:
`
      if (customData == "")
        actuators_enabled = TRUE;
      else if (customData == "penalized" && actuators_enabled) {
        // penalized robots gets only their actuators disabled so that they beco

[2021-06-17 14:28] ghost commented on #237
@omichel Could you have a look at this?

[2021-06-18 07:51] omichel commented on #237
@egordv: how to you control the motion of your robot? By position, velocity or torque?
When the robot is penalized, the target velocity and target torque are reset to 0 to stop its motion.
However, if you control the robot only in position, you should also reset the velocity to its original value once the robot is not penalized any more so that the position control can work again.
Can you confirm

[2021-06-18 10:15] omichel commented on #237
It should be fixed in #238. Can you test it and confirm?

[2021-06-18 12:02] #231 closed, assigned to nobody

[2021-06-18 12:02] #233 closed, assigned to medrimonia

[2021-06-18 13:38] egordv commented on #237
Thank you. I will do the test right now.

[2021-06-18 15:05] egordv commented on #237
Ok, my local test are green. Even with only position control enabled (no velocity commands in outgoing protobuf packets) exiting penalized state works as expected, robot is able to move correctly. Thank you for a fix!

[2021-06-18 15:12] omichel commented on #237
That's great. Thank you for the tests and feedback!

[2021-06-18 21:51] medrimonia commented on #229
From trying to get more detailed logs, #236 fixed it. Probably through 51de238009fd0a2691689dfb4dcdbc54d028e3c6

[2021-06-18 21:51] #229 closed, assigned to medrimonia

[2021-06-19 11:05] egordv commented on #237
Hello Olivier!
My yesterday quick tests were not precise enough. According to tested patch, it's mandatory to set max velocities at least once (at startup, etc). In more strict test case when there is no velocity commands issued at all - resumeMotors fails to resume a robot (it stays freezed again).
I've created a PR with my version of patching this: https://github.com/RoboCup-Humanoid-TC/webots/p

[2021-06-20 13:31] medrimonia opened #242 "Red cards can lead to crashes"
The red cards currently include setting `robot` to `None`, however the `None` value of the robot is not tested systematically, which leads to crash in some cases (see https://cloud.robocup.org/s/Wydem3NZn94nDps).

[code]

While this occurred at the beginning of a half time, it is likely that there are other places where it was not properly checked.

[2021-06-20 15:27] timonegk opened #243 "Display issues during free kicks"
A free kick has three states: 0, where the robots can stop any infringements and stand up, 1, where the robots can walk to their positions, and 2, where the robot can kick.
In the display, however
* state 0 is not indicated at all
* state 1 is shown as state 0
* state 2 is correctly shown as state 2
In addition, the remaining time for state 1 is only shown on the left, but for state 2, the time is

[2021-06-20 22:42] medrimonia commented on #243
While I agree that this issue does not impact game play, it makes it really difficult to follow the situation for teams and lead to a difficult understanding of the situation by both teams and developers.

[2021-06-20 22:50] medrimonia opened #244 "Display minimal logs on screen"
When watching game and fouls are committed, it is very difficult to understand what happened (from a high level) without investigating the logs. In real-time, this is not possible.

A nice touch would be to have a text zone which would contain only short messages showing what occurred over the last n seconds (n = 5 for example)

Example 1
[code]
Example 2
[code]

[2021-06-20 23:32] medrimonia opened #245 "Red cards leads to removal and disabling of players of both teams"
In [TEST62](https://cloud.robocup.org/s/Wydem3NZn94nDps) at 7m36, Blue 2 receives a warning while it already have a warning and a yellow card which leads to a red card. This leads to red 2 and blue 2 being penalized while only blue 2 should be penalized.

[code]

[2021-06-21 06:54] medrimonia opened #246 "Updating referee logs"
Logs to update:
- "Accepted connection" -> add player color + number
- Add more information when sending a red card (see #245 )

Logs to remove
- Tagged solids (taking too much space)

[2021-06-21 06:58] #237 closed, assigned to omichel

[2021-06-21 09:46] #242 closed, assigned to omichel

[2021-06-21 12:30] #243 closed, assigned to omichel

[2021-06-21 14:20] omichel commented on #245
That one is difficult to debug, based only of the log files.
From my investigation, it seems the referee receives a positive number of red cards for both the red and the blue player, see [here](https://github.com/RoboCup-Humanoid-TC/webots/blob/cce1204e87fb3b315767d2beaf1cef03e977482c/projects/samples/contests/robocup/controllers/referee/referee.py#L1124-L1125).
However, from the logs, it seems th

[2021-06-21 15:50] medrimonia commented on #245
imho, this could come from a problem of computing `index` which would have the same value if: their's a problem with the `team_color` function which is used only at two locations of the code and might provide always the same results if the input is not what we expect.

The way to proceed would be to look for the test_scenario that already includes a red card and maybe add a test to make sure that

[2021-06-21 19:30] medrimonia commented on #245
I tried to reproduce it using the automated tests, however I was unable to obtain a similar behavior. From there, I think that the best thing is to add more logs on the things that could go wrong (even if unlikely) in order to have more information next time we see a similar error.

[2021-06-21 19:48] #246 closed, assigned to medrimonia

[2021-06-21 21:29] medrimonia opened #251 "Reduce the duration of phase 0 during game interruption"
According to the latest vote, this duration should be set to 5 seconds (previously 10). This will likely break some tests.

[2021-06-22 04:52] medrimonia commented on #151
Solved as part of #248

[2021-06-22 04:52] #151 closed, assigned to medrimonia

[2021-06-22 10:50] timonegk commented on #243
@omichel the remaining time in free kick [0] still seems to be missing

[2021-06-22 12:07] omichel commented on #245
As mentioned in #253, I could sporadically reproduce the problem during the `game_phases/kick_off/scenario_5` test and some other tests.
It was difficult to isolate because it was not systematic.
Finally, I found out that it was caused by another GameController running on the same local network and sending bad updates to the referee.
Could that explain the original issue as well?

[2021-06-22 21:45] medrimonia commented on #190
The version in 31ef09b always prints FINAL SCORE: 0 - 0 (at least in penalty shootouts)

EDIT: this was probably due to the error #245 which should be fixed by 5320de6

[2021-06-22 21:47] medrimonia opened #255 "On webots exit, there's still a python3 process running"
This process is probably the `udp_bouncer`, currently it's closed with `terminate`, using `kill` would probably be sufficient.

[2021-06-22 22:12] #251 closed, assigned to medrimonia

[2021-06-23 05:32] medrimonia commented on #245
EDIT: debug message was wrong because it was using `index` instead of `team_idx` -> my bad.

~When using the debug added in #253 I found systematically the error raised by `team_index`. With this, I was able to reproduce the error properly and by adding a simple debug message:~

[code]
~I obtained the following results:~
[code]
~For me it makes no doubt yet that what happens is that the GameContro

[2021-06-23 06:05] #245 closed, assigned to omichel

[2021-06-23 06:06] medrimonia commented on #245
It should now be properly solved.

[2021-06-23 06:26] omichel commented on #245
That looks like a bug in the GameController...

[2021-06-23 07:15] medrimonia commented on #245
No, that was most likely a comparison of string or something else and int -> see cd9cdf2

I was getting the sanity check trigerred systematically before and not at all afterwards

[2021-06-23 07:46] omichel commented on #245
I don't understand. I added this line in the code to display the data types:
[code]
And I am getting:
[code]
Which mean they are identical and we don't need any cast here.
I checked all the `game.json` files I have and they all have the `id` specified as an int:
[code]
Could it be that in your case, it was specified otherwise, like:
[code]
That would explain the problem.
In that case, we should si

[2021-06-23 08:05] medrimonia commented on #245
Thank you for the detailed investigation, you are right about this, and the way to fix it properly. The program generating the game.json was outputing string instead of ints. I would suggest to add a double safety layer:

1. As proposed, ensure that game.red.id is an int in the referee.py
2. Fix the program that generates the game.json to have store int rather than str.

[2021-06-23 08:15] omichel commented on #245
All right.
Also note `id` generated as `str` are likely causing other bugs in the current version, like https://github.com/RoboCup-Humanoid-TC/webots/blob/cd9cdf2fa4b23a7e4f7f41ee2d7948ec4df0980e/projects/samples/contests/robocup/controllers/referee/referee.py#L386
This is why it should be fixed after the initialization of the game object.
I will take care of this.

[2021-06-23 08:19] medrimonia commented on #245
Yes, I do fully agree that it can cause a lot of problems and discrepancies with the tests scenarios.

I already fixed this in the generation of the team.json. Thanks for taking care of this in the referee!

[2021-06-23 16:04] medrimonia opened #258 "Player with invalid reentry pose can crash the system"
Currently if a player has a reentry pose inside the field, it receives yellow card each time it is repositioned. Since the attribution of yellow cards is not synchronized with the GC state, this can lead to adding a third yellow card. This is an illegal call which is currently considered as fatal.

The simplest solution is to only display warnings if the *illegal* answer from GameController concer

[2021-06-23 16:12] medrimonia opened #259 "Fallen robot in INITIAL of penalty shootout can crash the game"
Currently, if a robot is fallen during INITIAL of penalty shootouts, the referee tries to end the trial which results in an illegal action because we have to go to SET first.

Easy solution is not to check for fallen robots if state is INITIAL.

[2021-06-23 16:26] Flova opened #260 "Referee and Gamecontroller are out of sync for the kickoff"
**Describe the Bug**
During the second half, the game controller (and therefore the robots) thinks that another team has kickoff as the referee. This leads to the behavior that the teams correctly position themselves, but the robots of the kickoff team are removed by the game controller. It only happens in the beginning second half time and I suspect that the referee is confused due to goals score

[2021-06-23 17:36] timonegk opened #261 "Direct Freekick without team happens and freezes autoreferee"
**Describe the Bug**
Sometimes, when a free kick is granted, there is no team associated with the free kick (at least in the display). Then, the secondary state time in the game controller stops running and the auto referee no longer does anything. Logs and videos are attached. The issue now occurred three consecutive times while simulating test games.

**Screenshots**
First game: https://streamab

[2021-06-23 18:00] timonegk commented on #261
In the GameController GUI, the free kick is shown for one of the teams.
![Bildschirmfoto von 2021-06-23 19-56-15](https://user-images.githubusercontent.com/25013222/123145493-2c95e480-d45d-11eb-8868-67582e81a53f.png)

[2021-06-23 18:04] timonegk commented on #261
Also, the auto referee just moved two robots away from the ball for the free kick, but they were placed in such a way that they are colliding / spawned inside each other.
[referee_log.4.txt](https://github.com/RoboCup-Humanoid-TC/webots/files/6704013/referee_log.4.txt)

[2021-06-23 19:43] #259 closed, assigned to medrimonia

[2021-06-23 19:43] #258 closed, assigned to medrimonia

[2021-06-23 21:09] medrimonia commented on #261
Thanks to your log, I feel that I've found something which should not happen:
[code]
We see that we have `Ball in play` (which set `game.interruption_team` to `None`) after sending the `FREE_KICK` but before having the `New secondary state`.

[2021-06-23 22:12] timonegk commented on #260
This also happens when no goal was scored, and the referee is right, the GameController is wrong.

[2021-06-24 05:02] #232 closed, assigned to nobody

[2021-06-24 05:02] #261 closed, assigned to nobody

[2021-06-24 11:45] SGSSGene commented on #260
The same happend in game Starkit vs RFC Berlin
The kick of side was not switched (our robots didn't receive any signal, but receiving signals worked).

https://cloud.robocup.org/s/fTW228MqMMrS3fN

[2021-06-24 18:26] timonegk commented on #260
If it helps, here is a log of a game that I just simulated where this issue occurred: https://games.bit-bots.de/private/issue-260/game.html
The referee log is here: https://games.bit-bots.de/private/issue-260/referee_log.txt
According to the game controller, the red team has kick off both times, which is wrong.

[2021-06-24 22:53] medrimonia opened #265 "Teams might not be allowed to touch the ball in dropped ball"
During the game [mrlhsl vs 01rfcberlin](https://cloud.robocup.org/s/LiEJ2xwqH8yyqMH), a dropped ball occurred, afterwards, the referee systematically penalized the robots that touched the ball with messages such as:

`[1192.378|0383.944] Info: Non-kicking blue player 3 touched ball not in play. Ball was touched by wrong team.`

[2021-06-25 06:20] medrimonia opened #267 "Under specific circumstances one step of the simulator can take 800 seconds"
We experienced at least twice that one single tick of the simulator took 800 seconds.

An example of this is can be found at `12:38:224` of [K-RR-A3, CIT Brains vs RoboFEI](https://cloud.robocup.org/s/7DZJYC4CydXRpdp) where nothing special seems to be appearing.

[code]

The same error occurred at `12:38:360` in [K-RR-E1, MRL-HSL vs RoboFEI](https://cloud.robocup.org/s/mA4g6Lni7Zsot6F) in another

[2021-06-25 06:52] omichel commented on #267
I have never seen this error before... But that could indeed explain the problem. Are you sure you have sufficient space on the disk?

[2021-06-25 08:08] medrimonia commented on #267
Yes I am certain we have sufficient space on the disk, three things I can already mention is that:

1. We also had this error on other computers, the common factor was just running the game over ssh (when we run webots locally, we don't have this issue)
2. Looking at old logs, we have been having this message from the beginning
3. It's not crashing and the 800 seconds appeared only with games invo

[2021-06-25 08:45] omichel commented on #267
Yes, what is really strange is that it happens only with one model of robot... Can we download this model somewhere to try to reproduce the problem?

[2021-06-25 09:02] medrimonia commented on #267
Here is a link to the [RoboFEI robot model](https://submission.robocuphumanoid.com/uploads//RoboFEI-robot_description-60d4856e19565.zip).

Note that they tried moving to an 'embedded' (i.e not regenerating) version of the proto, but that led to crash of the referee. So they reverted in order to at least be able to participate.

[2021-06-26 11:00] medrimonia commented on #265
This bug apparently reappeared in [K-RR-A7](https://cloud.robocup.org/s/pN7fsdq2bRks69N), this will need to be investigated.

[2021-06-27 13:34] timonegk opened #271 "Penalty Kick Implementation is wrong"
**Describe the Bug**
The rules clearly state for the penalty kick: „The ball must be placed on the penalty mark“.
This is not the case in the auto-referee.

[2021-06-27 14:33] timonegk opened #272 "Add a way for the robots to know if they were moved in the penalty"
**Is your feature request related to a problem? Please describe.**
Sometimes in a free kick, when no possible ball position can be found, the robots get re-positioned. Currently, there is no way for the robots to know if they were moved, which can confuse the localization. In real life, the robots can know that they are moved from their camera image, IMU readings and foot pressure sensor data.

**

[2021-07-01 12:17] medrimonia commented on #204
No update on this and the issue has not been seen during the competition (to the best of my knowledge).

[2021-07-01 12:17] #204 closed, assigned to medrimonia

[2021-07-01 15:41] medrimonia opened #273 "Freekick occurring during another freekick"
During the 3rd place game, a freekick was called during another freekick twice over the simulations:

First occurrence is at `t=1128.232` in [1st attempt](https://cloud.robocup.org/s/mWXRKSD7KJ9s62L) with the relevant logs:
[code]

Second occurrence is at `t=971.152` in  [3rd attempt](https://cloud.robocup.org/s/gZCM5q4Wtt8PyeC) with the relevant logs:
[code]

One thing which seems weird is the `B

[2021-07-01 15:55] medrimonia opened #274 "When a game interruption occurs, the game can end immediately"
In the [following game](https://cloud.robocup.org/s/gEaT5SjgXYrXQoN), the overtime period is ended immediately after the direct free kick is called because the AutoRef sends a `FINISH` message:

[code]

There are mainly two problems which needs to be solved here:

- [ ] It should not be possible to send a FINISH message when a game interruption is being processed
- [ ] The transition in seconds re

[2021-07-01 16:05] medrimonia opened #275 "Add a flag to force extended penalty shootouts"
When 3 teams or more have to be ranked strictly (e.g 3 teams have the same goal difference after a round-robin phase), the usual procedure is to run extended penalty shootouts. However, the current implementation of the `PENALTY` stops the trials as soon as the winner is determined so having 3 parallel games against an empty team has a risk to fail at breaking the tie.

## Example:

3 Teams A,B,C

[2021-07-01 16:17] medrimonia opened #276 "Positioning algorithm can push two robots at the same location"
After a penalty kick (or probably any game interruption), it is possible that two robots are moved to very close locations.

An example of this happened at `t=495.608` in the [3rd place game](https://cloud.robocup.org/s/mWXRKSD7KJ9s62L):

[code]

Since the algorithm that reposition the robots is expected to ensure at least a distance of 50cm between the robots. It seems that the function `move_rob

[2021-07-01 16:23] medrimonia opened #277 "Color boxes are painted over text."
The replay from html of some games has an appearance where the text seems to be *hidden* behind the colored boxes of the layout (with transparency involved). The text should always be written above the boxes.

Visual example of the bug:
![robocup_layout_behind](https://user-images.githubusercontent.com/763588/124157472-16a9a480-da99-11eb-98f5-85a396b5e200.png)

[2021-07-01 16:30] medrimonia commented on #190
In order to properly report the result in an easy to parse way, the result should also write one line with:
`GAME RESULT: <teamTag> wins (<winComment>)`
or
`GAME RESULT: DRAW`

with examples of `winComment`:

- Regular time
- Overtime 0-1
- Penalty shootout 2-0
- Extended penalty shootout: ball touched more often: 3-2

[2021-07-01 16:37] medrimonia opened #278 "Speed-up automated tests"
Currently there are redundant tests and a significant part of the time is spent in the `READY` or `INITIAL` phases. To make testing faster and therefore more usable, the following should be done:

- [ ] Remove duplicated tests (`ball_out` are already covered by `game_interruption` scenarios)
- [ ] Allow to set the duration of the READY phase in the GameController and update the game.json to includ

[2021-10-25 17:09] #271 closed, assigned to nobody

[2021-10-25 17:09] #276 closed, assigned to nobody

[2022-01-04 21:35] Flova opened #289 "Player removed for "INCAPABLE""
**Describe the Bug**
Red Player 1 plays normally on the field and gets penalized due to leaving the field.
The other players stand on the sideline and do nothing (no connected).

Referee log:

<details>

[code]

</details>

**Steps to Reproduce**
1. Play a game with the current master

**Expected behavior**
Only be penalized for leaving the field if the robot actually leaves the field.

[2022-01-04 21:59] Flova opened #290 "Webots crashes with exception"
**Describe the Bug**
Webots closes randomly with exception in referee log.

[code]

[2022-05-20 22:24] Flova opened #302 "Merge upstream changes to support Python 3.10"
Webots now supports Python 3.10 (see https://github.com/cyberbotics/webots/pull/4474) and it would be nice to have this here. Otherwise, using Ubuntu 22.04 is not easily possible, as it's targeted Python version is 3.10.

[2022-05-23 12:33] medrimonia commented on #302
Thanks for pointing that out, it makes sense to merge regularly the new content from cyberbotics anyway so I'll give it a try.

[2022-05-23 13:40] medrimonia commented on #302
This will probably not be as straightforward as expected and will probably require some input from Cyberbotics side, see #304.

[2022-06-08 12:40] SammyRamone opened #305 "Improve model verifier checks for gyroscope and accelerometer"
**Is your feature request related to a problem? Please describe.**
The current model verifier has only very limited checks for the gyro and accel (see [here](https://2022.robocup.org/measures_prevent_covid19.php)).
In the last season some teams have used models that have a very simplified LUT without any noise and/or resolution restriction of the sensor (for example the MRL_HSL [model](https://clo